<footer class="page-footer font-large pt-4" >
    <div class="container text-center text-md-left">
        <div class="row text-center text-md-left mt-3 pb-3">
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">

                <h3 class=" font-weight-bold">ABOUT US</h3>
                <p style="font-size: 16px; text-align: justify;"> JISST aims at providing semantic solutions for real world problems. This journal is intended to stimulate new ideas and foster practical applications.

            </div>
            <hr class="w-100 clearfix d-md-none" />
            <hr class="w-100 clearfix d-md-none" />
            <div class="links col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                <h3 class="text-uppercase  font-weight-bold">Useful links</h3>
                <p>
                    <a routerLink="/">Home</a>
                </p>
                <p>
                    <a routerLink="/contact">Help</a>
                </p>
                <p>
                    <a routerLink="/terms">Terms and Conditions</a>
                </p>
                <p>
                    <a routerLink="/privacypolicy">Privacy Policy</a>
                </p>
                <p>
                    <a href="https://researchfoundation.in/">FSRTI</a>
                </p>
            </div>
            <hr class="w-100 clearfix d-md-none" />
            <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">

                <h4 class="text-uppercase  font-weight-bold">Contact</h4>
                <p><i class="fa fa-home"></i> <span class="ml-2">Plot No: 20, H.No: 13-405,<br>
                                                    &nbsp; &nbsp;&nbsp; &nbsp;Vadrevu Nilayam, Road No:14  <br>
                                                    &nbsp; &nbsp;&nbsp;Alkapuri, Sri RamaKrishnaPuram Post <br>&nbsp; &nbsp;&nbsp; &nbsp;Hyderabad - 500 102, INDIA</span></p>
                <p><i class="fa fa-envelope mr-3"></i>jisst@researchfoundation.in</p>
                <p><i class="fa fa-mobile mr-3"></i>+91 4035577320</p>

              
            </div>
        </div>
        <hr />
        <div class="row d-flex align-items-center">
            <div class="col-md-7 col-lg-8">
                <p class="text-center text-md-right">
                    © 2020-2023:

                    <strong>
                        <a href="https://researchfoundation.in/" target="_blank">
                        Foundation for Scientific Research and Technological
                        Innovation</a></strong>
                </p>
            </div>
            <div class="col-md-5 col-lg-4 ml-lg-0">
                <div class="text-center text-md-right">
                    <ul class="list-unstyled list-inline">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-sm rgba-white-slight mx-1">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
