<br>
<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 description mt-2 ">
            <!-- <h1><b>Editorial Board</b></h1> -->
            <span id="title">Support Team</span><br> <br>
            <!-- <span id="subtitle">Members</span><br> <br>
            <p>1. <b>Navnit Jha</b> , South Asian University, <b>New Delhi</b><br></p>
            <p>2. <b>G. Madhu</b> , VNR VJIET, <b>Hyderabad</b> <br></p>
            <p>3. <b>T.S.L. Radhika</b> , BITS-Pilani Hyd, <b>Hyderabad</b><br></p>
            <p>4. <b>P. Radha Krishna</b> , NIT, Warangal, <b>Hyderabad</b> <br></p>
            <p>5. <b>V. Sree Hari Rao</b> , FSRTI, <b>Hyderabad</b></p> -->


            <!-- <b>G. Madhu</b><br>
            <p>Professor, Department of Information Technology,VNR Vignan Jyothi Institute of Engineering &amp;
            Technology, Hyderabad – 500090, India<br> Phone No: 9849085728<br> E-Mail: madhu_g@vnrvjiet.in</p>
            <b>V. Prameela</b> <br>
            <p>Senior Scientist, Foundation for Scientific Research &amp; Technological Innovation<br>11-13-405, Road
            No.14, Alkapuri, Hyderabad – 500035, India<br> Phone No: 9440864488<br>E-Mail: vprameela@researchfoundation.in</p>
            <b>E.V.L.N. Ranga Charyulu</b><br><p>
                Senior Engineer, Foundation for Scientific Research &amp; Technological Innovation<br>
            11-13-405, Road No.14, Alkapuri, Hyderabad – 500035, India<br> Phone No: 8309521833<br>
            E-Mail: evlnrc53@researchfoundation.in</p>
           <b> P.K. Tiwari</b>
           <br><p>Plot No: 20, H.No: 13-405, Vadrevu Nilayam, Road No:14 Alkapuri, Sri RamaKrishnaPuram Post Hyderabad - 500102, INDIA.<br>Phone No: 9814033941<br>
            E-mail: pradeeptiwari@researchfoundation.in</p> -->

            <hr>

            <span id="title">Support Team</span><br> <br>
            <span id="subtitle">Members</span><br> <br>

            <p>
                1. <b>Neelima Gundu</b>, Hyderabad, E-mail: neelimagundu02@gmail.com
            </p>

            <!-- <p>
                2. <b>Neelima Gundu</b>, Hyderabad, E-mail: neelimagundu02@gmail.com
            </p> -->

            <p>
                2. <b>Kritika</b>, New Delhi, E-mail: kritikagpt95@gmail.com
            </p>

            <p>
                3. <b>Shikha Verma</b>, New Delhi, E-mail: shikhavns4@gmail.com
            </p>

            <p>
                4. <b>V. Vipin</b>, Hyderabad, E-mail: vipinkumaran82@gmail.com
            </p>

            <p>
                5. <b>G. Sayi Rosshhun</b>, Hyderabad, E-mail: rosshhun@thebyte.dev
            </p>




            <!-- <b> G. Sayi Rosshhun</b>
            <br>
            <p>Near Helmet world, HMT Hills, Kukatpally, Hyderbad – 500090, India<br>Phone No: 9110360945<br> E-mail: rosshhun@thebyte.dev</p> -->



        </div>
    </div>
</div>