<br />
<div class="container">
  <div class="row">
    <div
      class="col-lg-3 col-md-3 col-sm-12"
      style="display: flex; justify-content: center"
    >
      <app-sidenav></app-sidenav>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-12 description mt-2">
      <!-- <h1><b>Editorial Board</b></h1> -->
      <!--             <span id="title">Support Team</span><br> <br>
            <span id="subtitle">Members</span><br> <br> -->
      <!--             <p>1. <b>Navnit Jha</b> , South Asian University, <b>New Delhi</b><br></p>
            <p>2. <b>G. Madhu</b> , VNR VJIET, <b>Hyderabad</b> <br></p> -->
      <!--             <p>1. <b>T.S.L. Radhika</b> , BITS-Pilani Hyd, <b>Hyderabad</b><br></p>
            <p>2. <b>P. Radha Krishna</b> , NIT, Warangal, <b>Hyderabad</b> <br></p>
            <p>3. <b>V. Sree Hari Rao</b> , FSRTI, <b>Hyderabad</b></p>
 -->

      <!-- <b>G. Madhu</b><br>
            <p>Professor, Department of Information Technology,VNR Vignan Jyothi Institute of Engineering and
            Technology, Hyderabad – 500090, India<br> Phone No: 9849085728<br> E-Mail: madhu_g@vnrvjiet.in</p>
            <b>V. Prameela</b> <br>
            <p>Senior Scientist, Foundation for Scientific Research &amp; Technological Innovation<br>11-13-405, Road
            No.14, Alkapuri, Hyderabad – 500035, India<br> Phone No: 9440864488<br>E-Mail: vprameela@researchfoundation.in</p>
            <b>E.V.L.N. Ranga Charyulu</b><br><p>
                Senior Engineer, Foundation for Scientific Research &amp; Technological Innovation<br>
            11-13-405, Road No.14, Alkapuri, Hyderabad – 500035, India<br> Phone No: 8309521833<br>
            E-Mail: evlnrc53@researchfoundation.in</p>
           <b> P.K. Tiwari</b>
           <br><p>Plot No: 20, H.No: 13-405, Vadrevu Nilayam, Road No:14 Alkapuri, Sri RamaKrishnaPuram Post Hyderabad - 500102, INDIA.<br>Phone No: 9814033941<br>
            E-mail: pradeeptiwari@researchfoundation.in</p> -->

      <hr />

      <span id="title">Management Team</span><br />
      <br />
      <span id="subtitle">Members</span><br />
      <br />

      <p>
        <b>G. Madhu</b>, VNR Vignan Jyothi Institute of Engineering and Technology, Hyderabad, India<br />E-mail: madhu_g@vnrvjiet.in
      </p>

<!--       <p>
        <b>Mamta Rani</b>, Central University of Rajasthan, Bandarsindari,
        Kishangarh, Rajasthan, India <br />E-mail: mamtarsingh@curaj.ac.in
      </p> -->

<!--       <p>
        <b>Manoj Sahni</b>, Pandit Deendayal Energy University, Knowledge
        Corridor, Raison, Gandhinagar, Gujrat, India <br />E-mail:
        manoj.sahni@sot.pdpu.ac.in
      </p> -->
      <p>
        <b>M.V. Ramana Murthy</b>, Foundation for Scientific Research & Technological
        Innovation, Hyderabad, India <br />E-mail:
        ramanamurthy.mangipudi@researchfoundation.in
      </p>

<!--       <p>
        <b>P.Radha Krishna</b>, National Institute of Technology, Warangal,
        India <br/>E-mail: pkrishna@nitw.ac.in
      </p> -->

<!--       <p>
        <b>Ritu Sahni</b>, Foundation for Scientific Research & Technological
        Innovation, Hyderabad, India <br />E-mail:
        ritu.sahni@researchfoundation.in
      </p>
 -->
      <p>
        <b>V. Sree Hari Rao</b>, Foundation for Scientific Research &
        Technological Innovation, Hyderabad, India <br />E-mail:
        vadrevu.sree@researchfoundation.in
      </p>
<!--       <p>
        <b>Santanu Koley</b>, Birla Institute of Technology and Science - Pilani, Hyderabad Campus, Hyderabad, India <br />E-mail:
        santanu@hyderabad.bits-pilani.ac.in
      </p> -->
      <p>
        <b>Sankar Mantripragada</b>, Foundation for Scientific Research &
        Technological Innovation, Hyderabad, India <br />E-mail:
        mavsankar@researchfoundation.in
      </p>
<!--       <p>
        <b>Saroj Kumar Sahani</b>, South Asian University, New Delhi, India,
        <br />E-mail: sarojkumar@sau.ac.in
      </p> -->
      
      <br />
      <span id="subtitle">Production Division</span><br />
      <br />
      <p>
        <b>Bharti Joshi</b>, Department of Mathematics, D.S.B. Campus, Kumaun University, Nainital-263001, India <br/>E-mail: bhartijoshi20592@gmail.com
      </p>
      <p>
        <b>Naveen Chandra</b>, Department of Mathematics, H.N.B. Garhwal University, B.G.R. Campus, Pauri-246001, India <br/>E-mail: cnaveen329@gmail.com
      </p>
      <p>
        <b>Vivek Mainali</b>, Department of Applied Sciences, BTKIT Dwatahat-263653, India <br />E-mail:  mainalivivek7@gmail.com
      </p>
<!--       <p>
        <b>Sachin</b>, Kurukshetra University, Kurukshetra, Haryana, India
        <br />E-mail: sachinmaths@kuk.ac.in
      </p> -->
    </div>
  </div>
</div>
