<div class="container pt-5 ">
    <div class="jumbotron">
        <h1 class="display-3">Journal Information</h1>
        <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
        <hr class="my-4">
        <p class="">
            The Journal of Innovation Sciences and Sustainable Technologies is an international peer reviewed and refereed journal focussing on the modelling, measurement and management of Innovation and sustainability and the promotion of greater understanding in
            the multidisciplinary areas of societal concerns.
            <br>
        </p>
        <ol>
            <li>to foster high quality, original and innovative work;</li>
            <li>to provide practitioners and academicians with access to the resulting technical research;</li>
            <li>to serve as an educational form on timely issues concerning societal research; and</li>
            <li>to help bridge the gap that exists between the creative-end and user-end.</li>
        </ol>
        <p>
            <b>Content Guidelines</b>
            <br> The Editorial Board invites articles for consideration. Topics may include innovations and insights in all areas of societal interest in the following:
        </p>
        <ul>
            <li>Modelling and management of real time dynamical behaviour of the underlined processes;</li>
            <li>Recent advances in techniques used to model real world phenomena;</li>
            <li>Data modelling: knowledge extraction, control factors and scenario analysis;</li>
            <li>Casual models;</li>
            <li>Simulation methodologies;</li>
            <li>Regulatory and security issues; and</li>
            <li>Development of new tools and implementable algorithms;</li>
        </ul>
        <p>The Editorial Board will consider three types of submissions:</p>
        <ul>
            <li>Full-length original papers covering theory, practice and implementations;</li>
            <li>Short tutorials and expository articles of an educational nature; and</li>
            <li>Brief synopses of interesting and timely problems in all domains and their proposed solutions using known or new innovative techniques.</li>
        </ul>
        <p>
            <b>Original Research</b>
            <br> Research papers are typically full-length academic papers. Topics for research can be of interest to both academia and industry professionals. Papers submitted for publication must be original and should not have been published or under
            consideration for publication elsewhere.
            <br>
            <b>Forum for Innovation and Sustainability</b>
            <br> This section provides a less formal forum on findings and ideas that aim at innovations in all branches of science and technology with less academic rigour demanded in the main section. The mission of the Forum is to promote active discussion
            of contemporary issues in all areas of sciences, engineering, technology, social sciences and medicine, and to facilitate rapid communication on findings and ideas that are timely, expository and educational in nature.
            <br> Contributions to the Forum can be articles that purport to explain difficult, unclear, and uncertain, but otherwise known concepts and results. The articles intended for publication in this Forum will be designed to be tutorial with high
            educational value. The main goal of the submitted articles is to bring a privileged level of understanding to both academia and industry on issues and topics that have high societal concern and may not usually be readily and easily accessible
            either to academia or practitioners of interdisciplinary research.
        </p>

        <!-- <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p> -->
    </div>
</div>