.form-group input{
    width: auto;
    }
    .form-group label{
        margin-right: 15px;
        margin-left: 35%;
    }
    .vl{
     border-left: 1px solid black;
    }
   .form-group button{
        margin-left: auto;
        margin-right: auto;
   }
    
    @media only screen and (max-width: 600px) {
        .form-group label{
            margin-left: 10%;
        }
      }