<div class="container pt-5 ">
    <div class="row">
        <div class="col-lg-4" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-lg-8">
            <div class="jumbotron">
                <h1 class="display-3">Guidelines for Authors</h1>


                <hr class="my-4">
                <div>This Journal of Innovation Sciences and Sustainable Technologies is an international peer-reviewed and refereed journal focusing on the modelling, measurement and management of Innovation and sustainability and promoting greater understanding
                    in the multidisciplinary areas of societal concerns. The main objectives will be</div>
                <br>
                <ol>
                    <li>to foster high-quality, original and innovative work;</li>
                    <li>to provide practitioners and academicians with access to the resulting technical research;</li>
                    <li>to serve as an educational form on timely issues concerning societal research; and</li>
                    <li>to help bridge the gap that exists between the creative-end and user-end.
                    </li>
                </ol>
                <h2 style="color: #0000ff;">Content Guidelines</h2>
                <div>
                    The Editorial Board invites articles for consideration. Topics may include innovations and insights in all areas of societal interest in the following:
                </div>
                <ul>
                    <li>Modelling and management of real-time dynamical behaviour of the underlined processes;</li>
                    <li>
                        Recent advances in techniques used to model real-world phenomena;
                    </li>
                    <li>Data modelling: knowledge extraction, control factors and scenario analysis;</li>
                    <li>Casual models;</li>
                    <li>Simulation methodologies;</li>
                    <li>Regulatory and security issues; and</li>
                    <li>Development of new tools and implementable algorithms;</li>
                </ul>
                <div>The Editorial Board will consider three types of submissions:</div>
                <ul>
                    <li>Full-length original papers covering theory, practice and implementations;
                    </li>
                    <li>Short tutorials and expository articles of an educational nature; and
                    </li>
                    <li>Brief synopses of interesting and timely problems in all domains and proposed solutions using known or innovative techniques.</li>
                </ul>
                <h2 style="color: #0000ff;">Original Research</h2>
                <div>Research papers are typically full-length academic papers. Topics for research can be of interest to both academia and industry professionals. Papers submitted for publication must be original and should not have been published or are
                    under consideration for publication elsewhere.</div>
                <br>
                <h2 style="color: #0000ff;">Forum for Innovation and Sustainability</h2>
                <div>This section provides a less formal forum on findings and ideas that aim at innovations in all branches of science and technology with less academic rigour demanded in the main section. The mission of the Forum is to promote active discussion
                    of contemporary issues in all areas of sciences, engineering, technology, social sciences and medicine and to facilitate rapid communication on findings and ideas that are timely, expository and educational in nature.</div>
                <br>
                <div>Contributions to the Forum can be articles that purport to explain difficult, unclear, and uncertain but otherwise known concepts and results. The articles intended for publication in this Forum will be designed to be tutorials with high
                    educational value. The main goal of the submitted articles is to bring a privileged level of understanding to academia and industry on issues and topics that have high societal concern and may not usually be readily and easily accessible
                    to academia or practitioners of interdisciplinary research.</div>
                <br>
                <div>Authors are suggested to e-mail the pdf files of submissions to <span style="text-decoration-line: underline; color: #0000ff; ">jisst@researchfoundation.in</span>
                </div>
            </div>
        </div>
    </div>
</div>