.sidenav {
    text-align: center;
    padding: 20px;
}

.sidenav .btn {
    background-color: #3f51b5;
    color: white;
    font-size: 20px;
}

.btn {
    width: 250px;
    font-family: NexusSerif, Georgia, serif;
    font-size: 16px;
}

.btn:focus {
    box-shadow: none !important;
}

#title {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
}


/* h1 {
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 800;
    text-align: center;
    color: #3f51b5;
}  */

h1 {
    font-size: 35px;
    letter-spacing: 2px;
}


/* .description{
    font-family: NexusSerif,Georgia,serif;
    text-align: justify;
    font-size:20px;
 
    line-height: 25px;
    
 } */

.container .description p,
a,
b {
    font-size: 20px;
    /* line-break: auto; */
    line-height: 25px;
    font-family: NexusSerif, Georgia, serif;
}

p {
    font-size: 20px;
    line-height: 25px;
}

#download {
    align-items: center;
}