<div class="container pt-5 ">
    <div class="row">
        <div class="col-lg-4" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-lg-8">
            <div class="jumbotron">
                <h1 class="display-3">Publication Policies and Ethics</h1>
                <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
                <hr class="my-4">
                <p class="">
                    The Journal of Innovation Sciences and Sustainable Technologies (JISST) aims to promote innovation and disseminate knowledge by fostering greater unification among several disciplines of Science, Engineering, Technology, Medicine, Social Sciences and
                    Finance. JISST publishes one Volume of 4 issues (January, April, July, and October of each year), and the first Volume appeared in 2021. The medium of publication of this quarterly Journal is English. Articles that appear in this journal
                    are peer-reviewed. It is expected that all submissions should focus on problems of contemporary societal challenges. The solutions provided should be sustainable with an emphasis on bettering the lives of mankind all over the globe.
                    For more details, please see about <a href="/about" target="_self" style="color: #0000ff;">The Journal.</a>
                    <br>
                </p>
                <div>
                    The publication of articles not exceeding 15 pages in length is entirely free. Any article exceeding that limit would attract a nominal page charge (available upon request). Also, JISST encourages the publication of open access research which requires
                    the authors/ institutions/research project funding agencies to pay very reasonable publication charges under the open access category. Upon acceptance of an article for
                    publication in JISST, the authors are required to sign a copyright transfer statement. For more information, email to <span style="text-decoration-line: underline; color: #0000ff; ">jisst@researchfoundation.in</span>
                </div>
                <br>
                <div>It is imperative that all submissions to this journal are original and are not under consideration or accepted for publication elsewhere. The journal is committed to maintaining the highest integrity level in the published content and
                    has a Conflict of Interest policy in place. JIIST subscribes to the principles provided by the Committee on Publications and Ethics (<a href="https://publicationethics.org/" target="_self" style="color: blue;">COPE.</a>) on dealing
                    with acts of misconduct, thereby committing to investigate allegations of misconduct to ensure the integrity of research. If any submission is found violating this policy, the disciplinary committee of JISST will have exclusive rights
                    to proceed under publication ethics as stipulated by COPE. Authors are suggested to write to <span style="text-decoration-line: underline; color: #0000ff; ">jisst@researchfoundation.in</span> to obtain permissions for reuse in other
                    publications of theirs and others as well as in books etc</div>
                <br>
                <h2>Peer-review Process of the Articles</h2>
                <p>
                    Each submission received for possible publication will be scrutinized by a Committee of Associate Editors to decide if that submission requires in-depth review. All such submissions will be assigned to Associate Editors, who set up reviewers for the submission.
                    As soon as the required number of review reports are received, the Associate Editors will make a decision indicating any of the following terms: Accept As-Is; Minor Revisions Required; Major Revisions Required; Reject and Encourage
                    to Resubmit; Reject. The Editorial Committee will deliberate on the decision received from the Associate Editor and forward the records pertaining to recommendations and reviews to the Editor-in-Chief to arrive at a final publication
                    decision on the submission. In some cases, where ever need arises, the Editor-in-Chief will seek additional reviews from other experts. The review process will be brisk and quick and ensures that every decision is fair and transparent.
                </p>


                <h2>JISST has registered with</h2>
                <ul>
                    <li>Digital Online Identifier (DOI)</li>
                    <li>Zenodo.</li>
                </ul>

                <!-- <p class="lead">
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
        </p> -->
            </div>
        </div>
    </div>
</div>
