<div class="container pt-5 ">
    <div class="row">
        <div class="col-lg-4" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-lg-8">
            <div class="jumbotron">
                <h1 class="display-3">About The Journal</h1>
                <hr class="my-4">

                <p style="text-justify: auto; text-align: justify;">
                    The growing aspirations, technology advancement, ability to visualize many dimensions, the conflicting situations and contexts leading to complex scenarios, largely govern the present-day real world, thus rendering the study of these interdisciplinary problems 
                    more stimulating and rewarding. The existing scientific/technological approaches are inadequate to provide semantic solutions to this type of real-world problem. This necessitates the development of synergies of knowledge-driven and data-driven methodologies 
                    in an innovative manner to support short-term and long-term, generalized and personalized, universal, and context-specific objectives. Identifying, characterizing, classifying such gaps, mapping existing technologies and highlighting their limitations, and 
                    constructing counter demonstrative illustrations are intermediate challenges to the current researchers/solution providers. These things demand a novel, and inclusive platform(s). The motivation for the present endeavour stems from the above observations.
                </p>

                <div>
                    <p>
                        Also, it is seen in recent years that Information Technology is witnessing ups and downs and for a while, this had been on the rise, but a recent slump had affected its growth. This was understood to be due to a rather large gap between the creative-end and 
                        the user-end, and this gap is on the rise. We endeavour to bridge this gap and to redefine “Science and Technology” by promoting our new International quarterly peer-reviewed Journal on “Innovation Sciences and Sustainable Technologies”. This journal is not 
                        only backed by academicians, but also by many field specialists who could implement their ideas and check the results. It is not any more a mere guess but a reality that in the near future the existing practices will be replaced by more sophisticated processes 
                        given by the user community. This journal is intended to stimulate new ideas and foster practical applications from the research and developmental findings.
                        <br /><br />

                        <b>The Journal of Innovation Sciences and Sustainable Technologies will publish four issues in the months of January, 
                           April, July, and October of each year beginning the year 2021. The publication Language of this Quarterly Journal is English.</b>

                        <br /><br /> <b>The focus is on</b>
                    </p>
                    <ol type="a">
                        <li>
                            Tutorial expositions of topics of interest to practitioners of IT.
                        </li>
                        <li>
                            Original papers of good quality with more emphasis on practice and less on theory.
                        </li>
                        <li>
                            Full range of applications of IT as well as methods and tools.
                        </li>
                        <li>No product plug-ins.</li>
                    </ol>
                    <p>
                        The review process will be brisk, with a two to three-month turnaround. The focus of the review process is to promote clarity of exposition and contemporary value - not on the originality of the idea.
                        <br /><br /> <b>Typical IT application areas include, among others</b> <br />
                    </p>
                    <ul>
                        <li>Agriculture and Rural Development</li>
                        <li>Assistive Technologies</li>
                        <li>Bioinformatics and Computational Biology</li>
                        <li>Computational Finance</li>
                        <li>Computers in Education</li>
                        <li>Control Systems</li>
                        <li>Data Science</li>
                        <li>Defense Science Systems</li>
                        <li>Digital Libraries and Information Retrieval</li>
                        <li>Drug development and Pharmaceuticals</li>
                        <li>Ecology and Environment</li>
                        <li>Economics, Commerce, Banking, and Management</li>
                        <li>Effects of Hypermedia on Business and Industry</li>
                        <li>Entertainment Industry</li>
                        <li>Epidemiology and Infectious Diseases</li>
                        <li>Geographical Information Systems (GIS)</li>
                        <li>Health Information Technology</li>
                        <li>Humanities, Social &amp; Behavioral Sciences</li>
                        <li>Manufacturing Processes</li>
                        <li>Mechatronics</li>
                        <li>Medical Informatics</li>
                        <li>Multi-Lingual User Interfaces</li>
                        <li>Nano Computing</li>
                        <li>Natural Language Processing</li>
                        <li>Nutrition</li>
                        <li>Quantum Computing</li>
                        <li>Quantum Information Theory</li>
                        <li>Robotics and Automation</li>
                        <li>Web-based tools</li>
                    </ul>
                    <br />
                    <p>
                        The Journal of Innovation Sciences and Sustainable Technologies is an international peer-reviewed and refereed journal devoted to the modelling, measurement and management of innovation and sustainability and the promotion of greater understanding in the 
                        multidisciplinary areas of societal concerns. The main objectives will be. 
                        <li>to foster high quality, original and innovative work.</li>
                        <li>to provide practitioners and academicians with access to the resulting technical research.</li>
                        <li>to serve as an educational forum on timely issues concerning societal research, and</li>
                        <li>to help bridge the gap that exists between the creative-end and the user-end.</li>
                    </p>
                    <br> <br>
                    <p> <b>Content Guidelines</b></p>
                    <br>
                    <ul> The Editorial Board invites articles for consideration. Topics may include innovations and insights in all areas of societal interest in the following:
                      <li>Modelling and management of real-time dynamical behaviour of the underlying processes.</li>
                      <li>Recent advances in techniques used to model real-world phenomena.</li>
                      <li>Data modelling: knowledge extraction, control factors and scenario analysis.</li>
                      <li>Casual models.</li>
                      <li>Simulation methodologies.</li>
                      <li>Regulatory and security issues, and</li>
                      <li>Development of new tools and implementable algorithms.</li>
                    </ul>
                    <br /><br /> <b>The Editorial Board will consider the following types of submissions:</b> <br />
                      <li>Full-length original papers covering theory, practice, and implementations.</li>
                      <li>Short tutorials and expository articles of educational nature. </li>
                      <li>Brief synopses of interesting and timely problems in all domains and their proposed solutions using known or new innovative techniques.</li>
                      <li>Articles endeavouring to provide early information to the scientific community on issues and concerns of the society that require immediate attention, with whatever evidence is available.</li>
                      <li>Expositions with a focus on patented designs and methodologies that explain their usefulness in offering sustainable scientific solutions for real world problems.</li>
                    
                    <p> <b>Original Research</b></p>
                    <p>Research papers are typically full-length academic papers. Topics for research can be of interest to both academia and industry professionals. Papers submitted for publication must be original and should not have been published or under consideration for publication elsewhere.</p>
                    <p> <b>Forum on Innovation and Sustainability</b></p>
                    <p>This section provides a less formal presentation on findings and ideas that aim at innovations in all branches of science and technology with 
                      less academic rigour demanded in the main section. The mission of the Forum is to promote active discussion of contemporary issues in all areas 
                      of sciences, engineering, technology, social sciences, and medicine, and to facilitate rapid communication on findings and ideas that are timely, 
                      expository, and educational in nature.
                      Contributions to the Forum can be articles that purport to explain difficult, unclear, and uncertain, but otherwise known concepts and results. 
                      The main goal of the submitted articles is to bring a privileged level of understanding to both academia and industry on issues and topics that have high societal concern and may not usually be readily and easily accessible either to academia or practitioners of interdisciplinary research.
                    </p>

                    <p> <b>Pedagogues</b></p>
                    <p>It is widely known that pedagogues and their techniques will enhance the understanding level of students, and this would contribute to quality 
                       teaching in Institutions of higher learning. Articles highlighting the pedagogues by providing new methods and effective techniques of teaching 
                       in addition to inspiring accounts of legendary scientists, will be considered for publication in this section.  </p>
                    <p> <b>Scientific News and Notes</b></p>
                    <p>JISST recognizes the importance of placing before the public the results of scientific work and discoveries of science to a more general recognition 
                       in Teaching and Learning. Also, we endeavour to provide early information to the scientific community on issues and concerns of the society that 
                      require immediate attention, with available evidence. It is expected that more authentic studies and investigations would follow from further 
                      introspection. This would pave the way for development of more sustainable technologies in combating the real issues.
                      Presentations of that nature and scientific news and notes on problems of contemporary interest will be published in this section.
                      This journal will publish the finest peer-reviewed work in the above and related areas based on its creativity, importance, interdisciplinary interest, elegance, and exposition. This journal also provides authoritative, insightful news and interpretation of coming trends affecting science, scientists, and the larger public.
                    </p>
                    <br> <br>
                    <p> <b>Advantages for Authors to Publish in JISST</b></p>
                    <br>
                    <ul>
                        <li>
                            JISST is an official journal of the Foundation for Scientific Research and Technological Innovation (FSRTI). This publication may not be viewed as a routine journal but is an endeavour focusing on publishing innovative research that is aimed at bettering
                            the lives of mankind all over the globe.</li>
                        <li>
                            JISST publishes high-quality original articles with a high level of peer-review standards and truly promotes innovation.
                        </li>
                        <li>The review process is very brisk and quick.</li>
                        <li>There are no publication costs for subscription-based research and very reasonable charges for open access articles.</li>
                        <li>The Editors of JISST receive support from the research team of FSRTI that ensures every decision is fair, quick and transparent.</li>
                        <li>The researchers have a reasonable chance of interacting with the scientific research team of FSRTI under collaboration initiatives that enable them to identify real-world challenges and work for sustainable solutions leading to
                            product development.</li>
                        <li>This journal is very suitable for academia, innovators, field scientists, technical teams and research groups in the industry, undergraduate and graduate students, product developers and multidisciplinary researchers. This helps
                            showcase their creativity as expositions from some of the above category innovators are not usually encouraged in traditional research journals.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
