<div class="container pt-5 ">
    <div class="row">
        <div class="col-lg-4" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-lg-8">
            <div class="jumbotron">
                <h1 class="display-3">About The Journal</h1>
                <hr class="my-4">

                <p style="text-justify: auto; text-align: justify;">
                    The growing aspirations, technology growth, ability to visualise many dimensions and the conflicting situations and contexts leading to complex scenarios largely govern the present- day real world, thus rendering the study of these interdisciplinary problems
                    more stimulating and rewarding. The existing scientific/technological approaches are inadequate to provide semantic solutions to this type of real-world problem. This necessitates the development of synergies of knowledge-driven and
                    data-driven methodologies innovatively to support short- term and long-term, generalised and personalised, universal and context-specific objectives. Identifying, characterising, classifying such gaps, mapping existing technologies
                    and highlighting their limitations, and constructing counter demonstrative illustrations are intermediate challenges to the current researchers/solution providers. These things demand novel and inclusive platform(s). The motivation
                    for the present endeavour stems from the above observations.
                </p>

                <div>
                    <p>
                        Also, it has been seen in recent years that Information Technology is witnessing ups and downs, and for a while in the past, this had been on the rise, but a recent slump has affected its growth. This was understood to be due to a rather large gap between
                        the creative-end and the user-end, and this gap is on the rise. It is our endeavour to bridge this gap and redefine “Science and Technology” by promoting our new International quarterly peer-reviewed Journal on “Innovation Sciences
                        and Sustainable Technologies”. This journal is not only backed by academicians but also by many field specialists who could implement their ideas and check the results. It is not any more a mere guess but a reality that in the
                        near future, the existing practices will be replaced by more sophisticated processes given by the user community. This journal is intended to stimulate new ideas and foster practical applications from the research and developmental
                        findings.
                        <br /><br />

                        <b>The Journal of Innovation Sciences and Sustainable Technologies will publish four
                          issues in the months of January, April, July and October of each year beginning the
                          year 2021. The publication Language of this Quarterly Journal is English.</b>

                        <br /><br /> The focus is on
                    </p>
                    <ol type="a">
                        <li>
                            Tutorial expositions of topics of interest to practitioners of IT.
                        </li>
                        <li>
                            Original papers of good quality with more emphasis on practice and less on theory.
                        </li>
                        <li>
                            Full range of applications of IT as well as methods and tools.
                        </li>
                        <li>No product plug-ins.</li>
                    </ol>
                    <p>
                        The review process will be brisk, with a two to three-month turnaround. The focus of the review process is to promote clarity of exposition and contemporary value - not on the originality of the idea.
                        <br /><br /> <b>Typical IT application areas include, among others</b> <br />
                    </p>
                    <ul>
                        <li>Agriculture and Rural Development</li>
                        <li>Assistive Technologies</li>
                        <li>Bioinformatics and Computational Biology</li>
                        <li>Computational Finance</li>
                        <li>Computers in Education</li>
                        <li>Control Systems</li>
                        <li>Defense Science Systems</li>
                        <li>Digital Libraries and Information Retrieval</li>
                        <li>Drug development and Pharmaceuticals</li>
                        <li>Ecology and Environment</li>
                        <li>Economics, Commerce, Banking, and Management</li>
                        <li>Effects of Hypermedia on Business and Industry</li>
                        <li>Entertainment Industry</li>
                        <li>Epidemiology and Infectious Diseases</li>
                        <li>Geographical Information Systems (GIS)</li>
                        <li>Health Information Technology</li>
                        <li>Humanities, Social &amp; Behavioral Sciences</li>
                        <li>Manufacturing Processes</li>
                        <li>Mechatronics</li>
                        <li>Medical Informatics</li>
                        <li>Multi-Lingual User Interfaces</li>
                        <li>Nano Computing</li>
                        <li>Natural Language Processing</li>
                        <li>Nutrition</li>
                        <li>Quantum Computing</li>
                        <li>Robotics and Automation</li>
                        <li>Web-based tools</li>
                    </ul>
                    <br />
                    <p>
                        This journal will publish the finest peer-reviewed work in the above and related areas based on its creativity, importance, interdisciplinary interest, elegance and exposition. This journal also provides authoritative, insightful news and interpretation
                        of coming trends affecting science, scientists, and the larger public.
                    </p>
                    <br> <br>
                    <p> <b>Advantages for Authors to Publish in JISST</b></p>
                    <br>
                    <ul>
                        <li>
                            JISST is an official journal of the Foundation for Scientific Research and Technological Innovation (FSRTI). This publication may not be viewed as a routine journal but is an endeavour focusing on publishing innovative research that is aimed at bettering
                            the lives of mankind all over the globe.</li>
                        <li>
                            JISST publishes high-quality original articles with a high level of peer-review standards and truly promotes innovation.
                        </li>
                        <li>The review process is very brisk and quick.</li>
                        <li>There are no publication costs for subscription-based research and very reasonable charges for open access articles.</li>
                        <li>The Editors of JISST receive support from the research team of FSRTI that ensures every decision is fair, quick and transparent.</li>
                        <li>The researchers have a reasonable chance of interacting with the scientific research team of FSRTI under collaboration initiatives that enables them to identify real-world challenges and work for sustainable solutions leading to
                            product development.</li>
                        <li>This journal is very suitable for academia, innovators, field scientists, technical teams and research groups in the industry, undergraduate and graduate students, product developers and multidisciplinary researchers. This helps
                            showcase their creativity as expositions from some of the above category innovators are not usually encouraged in traditional research journals.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>