<br />
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12" style="display: flex; justify-content: center">
            <figure>
                <a href="https://res.cloudinary.com/dvj9jchje/image/upload/v1616838294/jisstcover_knrbin.jpg" target="_blank">
                    <img class="image-responsive" src="https://res.cloudinary.com/dvj9jchje/image/upload/v1616838294/jisstcover_knrbin.jpg" height="260" width="170" />
                </a>
                <br />
                <br />
                <h2>ISSN: 2583-3324</h2>
                <br />
                <br /><br />
                <br />
                <br /><br />
                <br />

                <!-- <figcaption class="mt-2 ml-3">ISSN: XYZ-8506</figcaption> -->
                <div style="align-self: flex-end">
                    <app-sidenav></app-sidenav>
                </div>
            </figure>
        </div>
        <!-- <div class="col-lg-4 col-md-4 col-sm-12 description" style="display: flex;justify-content: center;">
      <app-sidenav></app-sidenav>
    </div> -->

        <div class="col-lg-8 col-md-8 col-sm-12 description mt-2">
            <div class="header">
                <h1 class="brand-name">
                    Journal of Innovation Sciences and Sustainable Technologies<span style="color: maroon"><small>&#11835; A Make in India Creation(Online)</small
            ><small style="color: #3f51b5">https://jisst.com/</small></span
          >
        </h1>
      <br />
      <h1 style="color: blue; text-align: center;font-weight: bolder;">ISSN: 2583-3324</h1>
      </div>
      <p>
        An official peer reviewed publication of the, <a href="https://researchfoundation.in/" target="_blank" style="color: #970740">Foundation for Scientific Research and Technological Innovation</a
        >, <a style="color: blue" href="https://researchfoundation.in"
          >https://researchfoundation.in</a
        ></p><br><br>
        <i><p>
            This journal is published by the Publications Department, Foundation
            for Scientific Research & Technological Innovation, 11-13-405, Road
            No.14, Alkapuri, Sri RamaKrishnaPuram Post, Hyderabad – 500102,
            India.
          </p></i>
       
          <br>
        <b style="color: #3f51b5; font-size: 20px;">Editor(s)-in-Chief:</b><br><br>
<!--         <div class="myhoverclass" style="font-size: 18px;">
                <div class="title">
                    <p style="font-size: 18px;"><b class="name">V. Sree Hari Rao</b>, Foundation for Scientific Research & Technological Innovation, Hyderabad, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p>Director and Principal Research Scientist, Foundation for Scientific Research & Technological Innovation, 11-13-405, Road No.14, Alkapuri
                            <br>Hyderabad-500035, India<br> Phone No:7013333599<br> E-Mail:vshrao@researchfoundation.in
                            <br>
                            <a href="https://researchfoundation.in/profile/vshrao.html" style="color: blue">https://researchfoundation.in/profile/vshrao.html </a>
                          <br>
                          <a href="https://scholar.google.co.in/citations?user=UcA5AIEAAAAJ&hl=en" style="color: blue">https://scholar.google.co.in/citations?user=UcA5AIEAAAAJ&hl=en </a>
                        </p>
                    </div>
                </div> -->
            </div>
        <div class="myhoverclass" style="font-size: 18px;">
                <div class="title">
                    <p style="font-size: 18px;"><b class="name">Ranjit Kumar Upadhyay</b>, Indian Institute of Technology ,(Indian School of Mines) Dhanbad <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p>Professor (HAG) & Head, Department of Mathematics & Computing, Indian Institute of Technology, (Indian School of Mines) 
                            <br>Dhanbad- 826 004, India<br> Phone No:94311 26485<br> E-Mail:ranjit@iitism.ac.in
                            <br>
                            <a href="https://mnc.iitism.ac.in/mnc_faculty_details" style="color: blue">https://mnc.iitism.ac.in/mnc_faculty_details </a>
                          <br>
                          <a href="https://scholar.google.co.in/citations?user=MxwU4n0AAAAJ&hl=en" style="color: blue">https://scholar.google.co.in/citations?user=MxwU4n0AAAAJ&hl=en </a>
                        </p>
                    </div>
                </div>
            </div>
        <div class="myhoverclass" style="font-size: 18px;">
          <div class="title">
              <p style="font-size: 18px;"><b class="name" >Deepak Kumar Saini</b>, Indian Institute of Science, Bangalore, <b>India</b></p>
              <div class="myhoverclasscontent">
                  <p> Professor, <br> Division of Biological Sciences<br> Indian Institute of Science <br> Bangalore – 560012, India <br> Email:  deepaksaini@iisc.ac.in<br> Phone: 91-80-22932574
                      <br>
                      <a href="https://sites.google.com/site/sainislab/" style="color: blue;">https://sites.google.com/site/sainislab/</a><br />
                      <a href="https://scholar.google.co.in/citations?user=HzjNcegAAAAJ&hl=en" style="color: blue;">https://scholar.google.co.in/citations?user=HzjNcegAAAAJ&hl=en</a>
                  </p>
              </div>
          </div>
      </div>
<!--       <div class="myhoverclass">
        <div class="title">
            <p style="font-size: 18px;"><b class="name" >Naveen K. Vaidya</b>, Disease Modeling Laboratory, San Diego State University, <b>USA</b></p>
            <div class="myhoverclasscontent">
                <p>Professor <br> Department of Mathematics and Statistics <br> Disease Modeling Laboratory <br> San Diego State University <br> 5500 Campanile Drive, San Diego, California 92182, USA <br> E-mail: nvaidya@sdsu.edu <br> Phone: +1-619-594-6697
                    <br> Website: <a href="http://nvaidya.sdsu.edu/" style="color: blue;">http://nvaidya.sdsu.edu/</a><br />
                  <a href="https://scholar.google.com/citations?user=w7mMcLoAAAAJ&hl=en" style="color: blue;">https://scholar.google.com/citations?user=w7mMcLoAAAAJ&hl=en</a>
                </p>
            </div>
        </div>
    </div>
 -->
      
      <!-- <b style="color: #007398; font-size: 20px;">Co-Editor-in-Chief:</b><br> -->
      <div class="myhoverclass">
           <div class="title"><p style="font-size: 18px;"><b class="name" >P. Radha Krishna</b>, National Institute of Technology, Warangal, <b>India</b></p>
                <div class="myhoverclasscontent">
                <p >Professor and Head,<br> Department of Computer Science and
        Engineering,<br>National Institute of Technology,Warangal,India<br>
        Phone No:9704988816<br>E-Mail:prkrishna@nitw.ac.in<br>
        <a href="https://www.nitw.ac.in/faculty/id/16934/" style="color: blue">https://www.nitw.ac.in/faculty/id/16934/</a><br />
        <a href="https://scholar.google.co.in/citations?user=JFzGHMIAAAAJ&hl=en" style="color: blue;">https://scholar.google.co.in/citations?user=JFzGHMIAAAAJ&hl=en</a>
      </p>
               </div>
           </div>
       </div>
      <br> <br> <br>
<!--      <a routerLink="advisoryeditorial" style="font-family: NexusSerif, Georgia, serif"
        ><i
          class="fa fa-angle-right"
          style="font-size: 25px; color: #970740"
        ></i>
        &nbsp;
        <span style="font-size: 20px; color: #970740">Editorial Advisory Board</span></a>
                    &nbsp; &nbsp;&nbsp; &nbsp; -->

                    <a routerLink="editorial" style="font-family: NexusSerif, Georgia, serif"><i
          class="fa fa-angle-right"
          style="font-size: 25px; color: #970740"
        ></i>
        &nbsp; 
        <span style="font-size: 20px; color: #970740">Editorial Board</span></a> &nbsp; &nbsp;&nbsp; &nbsp;

                    <a routerLink="advisory" style="font-family: NexusSerif, Georgia, serif"><i
          class="fa fa-angle-right"
          style="font-size: 25px; color: #970740"
        ></i>
        &nbsp;
        <span style="font-size: 20px; color: #970740"
          >Advisory Committee
        </span></a> &nbsp;&nbsp; &nbsp; &nbsp;
                    <br>
                    <a routerLink="management" style="font-family: NexusSerif, Georgia, serif"><i
          class="fa fa-angle-right"
          style="font-size: 25px; color: #970740"
        ></i>
        &nbsp;
        <span style="font-size: 20px; color: #970740"
          >Support Team</span
        ></a
      >
    

  <!-- <div
      class="col-lg-4 col-md-4 col-sm-12 description"
      style="display: flex; justify-content: center"
    >
     
    </div>  -->
    <!-- < class="col-lg-8 col-md-8 col-sm-12 description mt-1"> -->
    <br>
    

      <div>
        <mat-tab-group>
          <mat-tab label="Most Downloaded Articles">
            <br />

            
              <div
              class="content ml-4"
              *ngFor="let item of downloads.reverse()| slice:0:10; let i = index"
            >
              <a
                style="text-decoration: none"
                [routerLink]="['/article']"
                [queryParams]="{ item_id: item.item_id }"
              >
                <p>
                  <i class="fa fa-hand-point-right mr-3"></i
                  >{{ item.title | slice: 0:65 }}...
                </p></a
              >
            </div>

          </mat-tab>
          <mat-tab label="Recent Articles"
            ><br />
            <div
              class="content ml-4"
              *ngFor="let item of articles.reverse()| slice:0:10; let i = index"
            >
              <a
                style="text-decoration: none"
                [routerLink]="['/article']"
                [queryParams]="{ item_id: item.item_id }"
              >
                <p>
                  <i class="fa fa-hand-point-right mr-3"></i
                  >{{ item.title | slice: 0:65 }}...
                </p></a
              >
            </div>
          </mat-tab>
          <mat-tab label="Most cited Articles"
            ><br />
            <!-- <div class="content">
                    <p>Recent advances in convolutional neural networks</p>
                    <p>Towards better exploiting convolutional neural networks for remote sensing scene classification</p>
                    <p>Facial expression recognition with Convolutional Neural Networks: Coping with few data and the training sample order</p>
                </div> -->
          </mat-tab>
          <mat-tab label="Recent Open Access Articles"
            ><br />
            <!-- <div class="content">
                <p>Speed-up and multi-view extensions to subclass discriminant analysis</p>
                <p>Multimodal subspace support vector data description</p>
                <p>Probabilistic homogeneity for document image segmentation</p>
               </div> -->
          </mat-tab>
        </mat-tab-group>
      </div>
</div>
</div>
</div>
