<div class="container"> <br><br>
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 description mt-2 ">
            <div class="container pb-2 ">
                <h1>Our contact :</h1>
<!--                 <b>P.K. Tiwari</b><br> -->
                <b>Managing Editor</b>
                <br><p> Foundation for Scientific Research &amp; Technological Innovation, <br>
                    Plot No: 20, H.No: 13-405, Vadrevu Nilayam, Road No:14 Alkapuri, Sri RamaKrishnaPuram Post Hyderabad - 500102, INDIA.<br> Phone No:+91 4035577320<br>
                E-Mail: jisst@researchfoundation.in</p>
            </div>
        </div>
    </div>
</div>
