<div class="container"> <br><br>
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 description mt-2 ">
            <div class="container pb-2 ">
                <h1>If you are facing any issue please feel free to contact us:</h1>
                <b>P.K. Tiwari</b><br>
                <b>Manager</b>
                <br><p>Publications Department,<br /> Foundation for Scientific Research &amp; Technological Innovation, <br>
                    Plot No: 20, H.No: 13-405, Vadrevu Nilayam, Road No:14 Alkapuri, Sri RamaKrishnaPuram Post Hyderabad - 500102, INDIA.<br> Phone No: 9814033941<br>
                E-Mail: pradeeptiwari@researchfoundation.in</p>
            </div>
        </div>
    </div>
</div>