<div class="container">
    <br>
    <div class="row">
        <div class="col-sm-3">
            <h3><b>Link sent to your mail</b></h3>
        </div>
        <div class="col-sm-9" style="border-left: #cccccc 1px dotted;">
            <div class="jumbotron">
                <p class="lead"> 
                    Check your email for a link to set a new password. Note that Editorial Manager may have
                     assigned a different Username if the one you selected is already in use.
                    <br>Thank you!
                </p>
                
            </div>
              
        </div>
    </div>
</div>