/* Optional custom styles */
.table td, .table th {
    vertical-align: middle;
  }
  
  .table thead th {
    vertical-align: bottom;
  }

  
  .container {
    max-width: 95%;
    padding: 15px;
  }

 .td{
    resize: both;
 }

 .small-column {
  width: 20%;
  overflow: wrap;
}
.smaller-column {
  width: 10%;
  overflow: wrap;
}

