.sidenav{
    text-align: center;
    padding: 20px;
}
.sidenav .btn{
    background-color: #3f51b5;
    color: white;
    font-size: 20px;
}


.btn{
    width: 250px; 
    font-family: NexusSerif,Georgia,serif;
    font-size: 16px; 
    
}
.btn:focus{
    box-shadow:none !important;
}
a{
    text-decoration: none;
}
#content,#editorial{
    background-color: rgba(0,0,0,.03); 
    padding:1.5%;
    margin-left:-2%; 
    margin-right: -2%; 
    border-bottom: 1px solid rgba(0,0,0,.125);
}
.tag{
    color: white;
padding: 3px 3px 3px 8px;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
background-color: #009888;
font-size: 14px;
font-weight: bold;
display: inline;
}
.open{
    display: inline;
}