<br>
<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 description mt-2 ">
            <!-- <h1><b>Editorial Board</b></h1> -->
            
            

            <span id="publisher">PUBLISHER</span> <br><br>
          
          <div class="myhoverclass">
           <div class="title"><p><b class="name">Foundation for Scientific Research & Technological Innovation, Hyderabad <b>India</b></p>
<!--               Managing Editor, Publications Department,<br> Foundation for Scientific Research & Technological Innovation, <br>
                Plot No: 20, H.No: 13-405, Vadrevu Nilayam, Road No:14 Alkapuri,<br>Sri RamaKrishnaPuram Post Hyderabad - 500102, India<br>
                Phone No: +91 4035577320<br> E-Mail: jisst@researchfoundation.in </p> -->
                <div class="myhoverclasscontent">
                <p>Manager, Publications Department,<br> Foundation for Scientific Research & Technological Innovation, <br>
                                                    Plot No: 20, H.No: 13-405, Vadrevu Nilayam, Road No:14 Alkapuri,<br>Sri RamaKrishnaPuram Post Hyderabad - 500102, India<br>
                                                Phone No: 9814033941<br>
                                                E-Mail: pradeeptiwari@researchfoundation.in</p>
               </div>
           </div>
       </div>
