<br>
<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 description mt-2 ">



            <span id="title">Editorial Advisory Board</span> <br><br>

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Ahmed Friaa</b>, Al Manar University,rue lac Victoria, immeuble Kenzat, Tunis, <b>Tunisia</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor, Solartech – Sud, Al Manar University,rue lac Victoria, immeuble Kenzat, Tunis, Tunisia
                            <br> Phone No: +21629972609<br> E-Mail: afriaa@solartech-sud.com</p>
                    </div>
                </div>
            </div>


            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Kok Lay Teo</b>, Curtin University, Perth, <b>Australia</b></p>
                    <div class="myhoverclasscontent">
                        <p>Professor, School of Mathematical Sciences, SUNWAY UNIVERSITY, No.5 Jalan University, Bandar Sunway, 47500 Selangor Darul Ehsan, Malaysia <br/> John Curtin Distinguished Emeritus Professor, Curtin University, Perth, Australia<br>                            Phone No: +61422 314 811<br> E-Mail: koklayt@sunway.edu.my<br> E-Mail: K.L.Teo@curtin.edu.au<br>
                            <a href="https://university.sunway.edu.my/profiles/sms/teo-kok-lay" style="color: blue;">https://university.sunway.edu.my/profiles/sms/teo-kok-lay</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Pascal Kossivi Adjamagbo</b>, Sorbonne University, Paris, <b>France</b></p>
                    <div class="myhoverclasscontent">
                        <p>Professor, Institut de Mathematiques, Jussieu, Sorbonne Universite (Universite Pierre et Marie Curie – Paris 6), IMJ, 4 place Jussieu, 75252 Parix Cedex, Paris , France<br> Phone No: 00 33 6 33 66 21 12<br> E-Mail: kossivi.adjamagbo@sorbonne-universite.fr<br
                            />
                            <a href="http://ufrmath.sorbonne-universite.fr/fr/index.html" style="color: blue;">http://ufrmath.sorbonne-universite.fr/fr/index.html</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Ravi Durvasula</b>, Infectious Diseases, Mayo Clinic, Jacksonville, <b>USA</b></p>
                    <div class="myhoverclasscontent">
                        <p>Chair of Infectious Diseases Mayo Clinic, Jacksonville, Florida, USA<br> Phone No: +1-505-362-0856<br>E-Mail: Durvasula.Ravi@mayo.edu<br />
                            <!--                             <a href="https://www.loyolamedicine.org/gme/internal-med-fellow/infectious-disease/faculty/ravi-durvasula" style="color: blue;">https://www.loyolamedicine.org/gme/internal-med-fellow/infectious-disease/faculty/ravi-durvasula</a> -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">V. Sree Hari Rao</b>, Foundation for Scientific Research & Technological Innovation, Hyderabad, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p>Director and Principal Research Scientist, Foundation for Scientific Research & Technological Innovation, 11-13-405, Road No.14, Alkapuri
                            <br>Hyderabad-500035, India<br> Phone No:7013333599<br> E-Mail:vshrao@researchfoundation.in
                            <br>
                            <a href="https://researchfoundation.in/profile/vshrao.html" style="color: blue">https://researchfoundation.in/profile/vshrao.html </a>
                          <br>
                          <a href="https://scholar.google.co.in/citations?user=UcA5AIEAAAAJ&hl=en" style="color: blue">https://scholar.google.co.in/citations?user=UcA5AIEAAAAJ&hl=en </a>
                        </p>
                    </div>
                </div>
            </div>

            <hr>

        </div>
    </div>
</div>
