<br>
<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 description mt-2 ">
            <!-- <h1><b>Editorial Board</b></h1> -->


            <span id="title">Advisory Committee</span> <br><br>
            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Ahmed Friaa</b>, Al Manar University,rue lac Victoria, immeuble Kenzat, Tunis, <b>Tunisia</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor, Solartech – Sud, Al Manar University,rue lac Victoria, immeuble Kenzat, Tunis, Tunisia
                            <br> Phone No: +21629972609<br> E-Mail: afriaa@solartech-sud.com</p>
                    </div>
                </div>
            </div>


            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Kok Lay Teo</b>, Curtin University, Perth, <b>Australia</b></p>
                    <div class="myhoverclasscontent">
                        <p>Professor, School of Mathematical Sciences, SUNWAY UNIVERSITY, No.5 Jalan University, Bandar Sunway, 47500 Selangor Darul Ehsan, Malaysia <br/> John Curtin Distinguished Emeritus Professor, Curtin University, Perth, Australia<br>                            Phone No: +61422 314 811<br> E-Mail: koklayt@sunway.edu.my<br> E-Mail: K.L.Teo@curtin.edu.au<br>
                            <a href="https://university.sunway.edu.my/profiles/sms/teo-kok-lay" style="color: blue;">https://university.sunway.edu.my/profiles/sms/teo-kok-lay</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Pascal Kossivi Adjamagbo</b>, Sorbonne University, Paris, <b>France</b></p>
                    <div class="myhoverclasscontent">
                        <p>Professor, Institut de Mathematiques, Jussieu, Sorbonne Universite (Universite Pierre et Marie Curie – Paris 6), IMJ, 4 place Jussieu, 75252 Parix Cedex, Paris , France<br> Phone No: 00 33 6 33 66 21 12<br> E-Mail: kossivi.adjamagbo@sorbonne-universite.fr<br
                            />
                            <a href="http://ufrmath.sorbonne-universite.fr/fr/index.html" style="color: blue;">http://ufrmath.sorbonne-universite.fr/fr/index.html</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Ravi Durvasula</b>, Infectious Diseases, Mayo Clinic, Jacksonville, <b>USA</b></p>
                    <div class="myhoverclasscontent">
                        <p>Chair of Infectious Diseases Mayo Clinic, Jacksonville, Florida, USA<br> Phone No: +1-505-362-0856<br>E-Mail: Durvasula.Ravi@mayo.edu<br />
                            <!--                             <a href="https://www.loyolamedicine.org/gme/internal-med-fellow/infectious-disease/faculty/ravi-durvasula" style="color: blue;">https://www.loyolamedicine.org/gme/internal-med-fellow/infectious-disease/faculty/ravi-durvasula</a> -->
                        </p>
                    </div>
                </div>
            </div>
            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Aditya Kaushik</b>, Delhi Technologial University, Delhi, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p>Professor, Department of Applied Mathematics, Delhi Technologial University<br> Delhi – 110042, India
                            <br> Phone No: 8427580104<br>E-mail: akaushik@dtu.ac.in</p>
                    </div>
                </div>
            </div>

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Dharmendra Tripathi</b>, National Institute of Technology, Uttarakhand,Srinagar <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Associate Professor and Dean (R&amp;C), Department of Mathematics, National Institute of Technology, Uttarakhand, Srinagar – 246174, India<br> Phone No: 8385882005<br> E-mail: dtripathi@nituk.ac.in</p>
                    </div>
                </div>
            </div>

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Kapil K. Sharma</b>, South Asian University, New Delhi, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor, Faculty of Mathematics &amp; Computer Science, South Asian University, A University Established by the SAARC Nations, Akbar Bhavan, Chanakyapiri, New Delhi- 110021, India<br> Phone No: 9855682505<br> E-Mail: kapil.sharma@sau.ac.in<br>
                            <a href="http://www.sau.int/faculty/faculty-profile.html?staff_id=50" style="color: blue;">http://www.sau.int/faculty/faculty-profile.html?staff_id=50</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">M.A.S. Srinivas</b>, Jawaharlal Nehru Technological University, Hyderabad, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor and Head, Department of Mathematics, Jawaharlal Nehru Technological University, Hyderabad – 500035, India<br>Phone No: 9814033941<br> E-Mail: massrinivas@jntuh.ac.in<br>
                            <a href="https://jntuhceh.ac.in/faculty_details/8/dept/411" style="color: blue;">https://jntuhceh.ac.in/faculty_details/8/dept/411</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Navnit Jha</b>, South Asian University, New Delhi, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Associate Professor, Faculty of Mathematics &amp; Computer Science, South Asian University<br> A University Established by the SAARC Nations<br>Akbar Bhavan, Chanakyapiri, New Delhi- 110021<br> Phone No: 8800933491
                            <br> E-Mail: navnitjha@sau.ac.in</p>
                    </div>
                </div>
            </div>
            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">P.K. Tiwari</b>, Foundation for Scientific Research and Technological Innovation, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p>Foundation for Scientific Research and Technological Innovation, H. No. 5729, Sector 38 West Chandigarh - 160014, India<br>Phone No: +919814033941 <br>E-mail: pradeeptiwari@researchfoundation.in </p>
                    </div>
                </div>
            </div>
            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">P. Danumjaya</b>, Birla Institute of Technology and Science, Goa Campus, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p>Associate Professor, Department of Mathematics, Birla Institute of Technology and Science, Goa Campus, Zuarinagar, Goa – 403726, India<br>Phone No: 9850275789<br>E-mail: danu@goa.bits-pilani.ac.in</p>
                    </div>
                </div>
            </div>

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Rajesh Balakrishnan</b>, Infosys Technologies Ltd.,Bangalore, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Principal Architect, Infosys Technologies Ltd., Bangalore, India<br>Phone No: 9945225082<br> E-Mail: rajeshb@infosys.com<br>
                            <a href="https://www.linkedin.com/in/rajeshbalakrishnan/?originalSubdomain=in" style="color: blue;">https://www.linkedin.com/in/rajeshbalakrishnan/?originalSubdomain=in</a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">T. Ravindra Babu</b>, Sahaj Software Solutions, Banglore, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Head, Department of Data Science, Sahaj Software Solutions, 365, 3rd Floor,Sulochana Building,Koramangala,Banglore-560034,India<br>Phone No: 9739907725<br> E-Mail: ravindrab@sahaj.ai<br>
                            <a href="https://sahaj.ai/people/" style="color: blue;">https://sahaj.ai/people/</a>
                        </p>
                    </div>
                </div>
            </div>



            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">V. Prakash Reddy</b>, Missouri University of Science and Technology, Rolla, <b>USA</b></p>
                    <div class="myhoverclasscontent">
                        <p>Professor, Department of Chemistry, Missouri University of Science and Technology, Rolla, MO 65409, USA<br> Phone No: +1-573-341-4768<br> E-Mail: preddy@mst.edu<br />
                            <a href="https://people.mst.edu/faculty/preddy/index.html" style="color: blue;">https://people.mst.edu/faculty/preddy/index.html</a>
                        </p>
                    </div>
                </div>
            </div>

           <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">T.S.L Radhika</b>, BITS Pilani-Hyderabad Campus, Shameer Pet, Hyderabad, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p>Associate Professor, Department of Mathematics, BITS Pilani -Hyderabad Campus, Shameer Pet, R R Dist - 500078, India<br> Phone No: +1-573-341-4768<br> E-Mail: radhikatsl@hyderabad.bits-pilani.ac.in <br />
                            <a href="https://www.bits-pilani.ac.in/hyderabad/radhikatsl/Profile" style="color: blue;">https://www.bits-pilani.ac.in/hyderabad/radhikatsl/Profile</a>
                        </p>
                    </div>
                </div>
            </div>
        <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">V. Prameela</b>, Foundation for Scientific Research and Technological Innovation,<b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Foundation for Scientific Research & Technological Innovation, 11-13-405, Road No.14, Alkapuri, Hyderabad-500035, India<br> Phone No: 9440864488<br> E-Mail: vadrevu.prameela6@gmail.com <br />
                        </p>
                    </div>
                </div>
            </div>

<!-- <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Sankar Mantripragada</b>, Foundation for Scientific Research and Technological Innovation, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Foundation for Scientific Research & Technological Innovation, 11-13-405, Road No.14, Alkapuri, Hyderabad-500035, India<br> Phone No: 8124453344<br> E-Mail: <br /> 
                    </p>
                    </div>
                </div>
            </div> -->
<div class="myhoverclass">
                <div class="title">
                    <p><b class="name">A.V.K. Suryanarayana</b>, Foundation for Scientific Research and Technological Innovation, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p>Luanguage Expert, Foundation for Scientific Research & Technological Innovation, 11-13-405, Road No.14, Alkapuri, Hyderabad-500035, India<br> Phone No:+919833312976<br> E-Mail: surya.avk@researchfoundation.in<br /> 
                    </p>
                    </div>
                </div>
            </div>
            <hr>



        </div>
    </div>
</div>
