<div class="container"> <br><br>
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>

        <mat-tab-group class="col-lg-9 col-md-9 col-sm-12 description mt-2 pl-5 " mat-align-tabs="center">
            <mat-tab label="All Articles">

                <div>
                    <div class="container pb-2 ">
                        <!-- <p class="mt-3" style="font-size: 30px;"><b> All Articles</b></p>  -->
                        <br>
                        <div style="background-color: #3f51b5; padding:1%; color: white;"><b style="align-items: center;">{{mappings[vol_issue]["Name"]}}</b>
                            <b style="margin-left: 55%;">ISSN: 2583-3324</b>
                        </div>
                        <br>
                        <div *ngIf="isLoading">
                            <p>...Loading</p>
                        </div>
                        <div *ngIf="!isLoading" class="row justify-content-center">
                            <div class="card container-fluid text-dark bg-light md-1 mt-1 mb-3">

                                <p href="#" id="content"><b>&nbsp;&nbsp;Contents</b>

                                    <div class="card-body">

                                        <p class="card-text" style="text-align: justify;">
                                            <b><a href="{{mappings[vol_issue]['Contents']}}"
                                                target="_blank" download style="float: right;"><i
                                                    class="fa fa-file-pdf"></i>&nbsp;&nbsp;&nbsp;Download</a> </b>
                                        </p>
                                    </div>
                            </div>
                        </div>

                        <div *ngIf="!isLoading" class="row justify-content-center">
                            <div *ngIf="isEditorialIssue" class="card col-lg-12 text-dark bg-light md-1 mt-1 mb-3">
                                <a [routerLink]="['/article']" [queryParams]="{item_id:2021001001}">
                                    <p id="editorial"><b>1. Editorial</b></p>
                                </a>
                                <div *ngIf="vol_issue==='1.1'" class="card-body">
                                    <div class="card-text" style="text-align: justify;">
                                        <p class="card-title">V.Sree Hari Rao and M.V. Altaisky</p>
                                        <p class="card-title">J. Innovation Sciences and Sustainable Technologies,1(1)(2021), 1-2.
                                        </p>
                                    </div>

                                    <!-- href="https://res.cloudinary.com/jisst/image/upload/v1638015863/Editorial_rt3vxp.pdf" -->

                                    <b><a id="downloadpass" href="https://res.cloudinary.com/jisst/image/upload/v1661429766/Articles/Editorial_alwgpv.pdf" target="_blank" download style="float: right;"><i
                                                class="fa fa-file-pdf"></i>&nbsp;&nbsp;&nbsp; Download</a> </b>
                                </div>

                                <div *ngIf="vol_issue==='3.2'" class="card-body">
                                    <div class="card-text" style="text-align: justify;">
                                        <p class="card-title">Series Editors</p>
                                        <p class="card-title">J. Innovation Sciences and Sustainable
                                            Technologies,3(2)(2023),
                                            51.
                                        </p>
                                    </div>
                                    <b><a href="https://res.cloudinary.com/jisst/image/upload/v1690291282/Editorial_kwside.pdf"
                                            target="_blank" download style="float: right;"><i
                                                class="fa fa-file-pdf"></i>&nbsp;&nbsp;&nbsp; Download</a> </b>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="!isLoading" class="row justify-content-center">
                            <div *ngFor="let item of currArticles ; let i = index" class="card text-dark bg-light md-1 mt-1 mb-3">

                                <div>
                                    <div class="card-header">

                                        <span class="bg-warning tag" *ngIf="item.research==original">
                                        <div class="circle" style="display: inline;"></div>{{item.research}}
                                    </span>

                                        <span class="bg-success tag" *ngIf="item.research!=original">
                                        <div class="circle" style="display: inline;"></div>{{item.research}}
                                    </span><br><br>
                                        <a [routerLink]="['/article']" [queryParams]="{item_id:item.item_id}"><b
                                            class="mt-3" style="color: #3f51b5; font-size: 16px;">{{i+1+isEditorialIssue}} .
                                            {{item.title}}</b> </a>

                                    </div>


                                    <div class="card-body">
                                        <p class="card-title"> {{item.author}}</p>
                                        <p class="card-title"> {{item.jname}}</p>
                                        <p class="card-text">{{item.receivedDate}}</p>
                                        <p class="card-text justify-content-between" style="text-align: justify;">
                                            <b>Abstract : </b> {{ (item.abstract | slice:0:500)}} ... <a [routerLink]="['/article']" [queryParams]="{item_id:item.item_id}">
                                            >>More </a>
                                            <p style=" text-align: center;">
                                                <i class="fa fa-eye" style="float: left; font-size: larger;">&nbsp;&nbsp;&nbsp;
                                            <b>Views: {{item.views}} </b> </i>
                                                <i class="fa fa-download" style="font-size: larger;">&nbsp;&nbsp;&nbsp;
                                            <b>Downloads: {{item.downloads}} </b> </i>
                                                <!-- href="{{item.fileUrl}}" -->
                                                <!-- <a id="downloadpass" href="{{item.fileUrl}}" download="" target="_blank" style="float: right; font-size: larger;" (click)="countDownloads()"><i
                                                class="fa fa-file-pdf"></i>&nbsp;&nbsp;&nbsp; <b>Download</b> </a> -->
                                               

                                            </p>
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </mat-tab>

            <mat-tab label="Most viewed">
                <div>
                    <div class="container pb-2 ">
                        <!-- <p class="mt-3" style="font-size: 30px;"><b> All Articles</b></p>  -->


                        <br>
                        <div *ngIf="isLoading">
                            <p>...Loading</p>
                        </div>


                        <div *ngIf="!isLoading" class="row justify-content-center">
                            <div *ngFor="let item of mostView ; let i = index" class="card text-dark bg-light md-1 mt-1 mb-3">
                                <div class="card-header">

                                    <span class="bg-warning tag" *ngIf="item.research==original">
                                        <div class="circle" style="display: inline;"></div>{{item.research}}
                                    </span>

                                    <span class="bg-success tag" *ngIf="item.research!=original">
                                        <div class="circle" style="display: inline;"></div>{{item.research}}
                                    </span><br><br>
                                    <a [routerLink]="['/article']" [queryParams]="{item_id:item.item_id}"><b
                                            class="mt-3" style="color: #3f51b5; font-size: 16px;">{{i+1}} .
                                            {{item.title}}</b> </a>

                                </div>


                                <div class="card-body">
                                    <p class="card-title"> {{item.author}}</p>
                                    <p class="card-title"> {{item.jname}}</p>
                                    <p class="card-text">{{item.receivedDate}}</p>
                                    <p class="card-text justify-content-between" style="text-align: justify;">
                                        <b>Abstract : </b> {{ (item.abstract | slice:0:500)}} ... <a [routerLink]="['/article']" [queryParams]="{item_id:item.item_id}">
                                            >>More </a>
                                        <p style=" text-align: center;">
                                            <i class="fa fa-eye" style="float: left; font-size: larger;">&nbsp;&nbsp;&nbsp;
                                            <b>Views: {{item.views}} </b> </i>
                                            <i class="fa fa-download" style="font-size: larger;">&nbsp;&nbsp;&nbsp;
                        
                                            <b>Downloads: {{item.downloads}} </b> </i>
                                            <!-- <a id="downloadpass" href="{{item.fileUrl}}" style="display: none" download="" target="_blank" style="float: right; font-size: larger;" (click)="countDownloads()" ><i
                                            class="fa fa-file-pdf"></i>&nbsp;&nbsp;&nbsp; <b>Download</b> </a> -->                                    
                                        </p>
                                </div>
                            </div>
                            </div>


                    </div>
                </div>
            </mat-tab>

        </mat-tab-group>
    </div>
</div>
<br><br>

<br><br>