<mat-horizontal-stepper labelPosition="bottom">
  <mat-step label="Article Type Selection" [stepControl]="ArticleTypeGroup">
    <mat-card>
      <form [formGroup]="ArticleTypeGroup">
        <mat-form-field appearance="fill">
          <mat-label>Select Article Type</mat-label>
          <mat-select [(value)]="manudata.articleType">
            <mat-option *ngFor="let article of article" [value]="article.value" required>{{article.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
    </mat-card><br>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Title" [stepControl]="TitleGroup">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Please Enter The Full Title of Your Submission</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <hr>
        <p style="color: red;">Entering a Full Title is Required for Submission.</p>
        <p> Please enter <strong>only</strong> the title of your manuscript below. Additional comments may be entered at
          a later step.</p>
        <hr>
        <mat-card>
          <div class="title">
            <textarea matInput rows="6" minlength="50" placeholder="Enter Full Title"
              style="overflow: hidden; overflow-wrap: break-word; height: 122px;" required
              [(ngModel)]="manudata.title"></textarea>
          </div>
        </mat-card>
      </mat-card-content>
    </mat-card>
    <br>
    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Add/Remove Authors">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Please Enter the Following</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <hr>
        <p>
          Please enter the details of all authors (other than you) who contributed to the work reported in your
          manuscript. After entering each author's details, click <strong>Add Author.</strong></p><br>

        <p>By beginning the manuscript submission process,<span style="color: red;"> <strong>YOU</strong> </span>
          automatically identified as the Corresponding Author.</p> <br>

        <p><strong>If you change the Corresponding Author, the manuscript will be removed from your account and added to
            the new Corresponding Author's account when you leave or complete the submission process.</strong></p><br>

        <p>A * indicates the field is required.</p> <br>



        <p>Authors are expected to consider carefully the list and order of authors before submitting their manuscript
          and provide the definitive list of authors at the time of the original submission. Only in exceptional
          circumstances will the Editor consider the addition, deletion or rearrangement of authors. Any addition,
          deletion or rearrangement of author names in the authorship list should be made only before the manuscript has
          been accepted and only if approved by the journal Editor. To request such a change, the Editor must receive
          the following from the corresponding author: (a) the reason for the change in author list and (b) written
          confirmation (e-mail, letter) from all authors that they agree with the addition, removal or rearrangement. In
          the case of addition or removal of authors, this includes confirmation from the author being added or removed.
        </p>
        <hr style="border-color: red;">

        <div class="row">

          <div class="col-sm-4">
            <mat-card>
              <form [formGroup]="AuthorForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="name">First Name</label>

                  <input type="text" formControlName="auth_firstname" class="form-control" id="name" required
                    name="name">

                </div>

                <div class="form-group">
                  <label for="alterEgo">Middle Name</label>

                  <input type="text" formControlName="auth_middlename" class="form-control" 
                    name="alterEgo">

                </div>

                <div class="form-group">
                  <label for="alterEgo">Last Name</label>

                  <input type="text" formControlName="auth_lastname" class="form-control" required
                    name="alterEgo">
                </div>
                <div class="form-group">
                  <label for="alterEgo">Academic Degree(s)</label>
                  <input type="text" formControlName="degree" class="form-control"  name="alterEgo">
                </div>
                <div class="form-group">
                  <label for="alterEgo">Affiliation</label>
                  <input type="text" formControlName="affiliation" class="form-control" name="alterEgo">

                </div>

                <div class="form-group">
                  <label for="alterEgo">Email Address</label>

                  <input type="email" formControlName="auth_email" class="form-control"  required
                    name="alterEgo">

                </div>

                <br>
                <div class="form-group">
                  <input class="form-check-input" type="checkbox" formControlName="checkauthor" id="checkauthor"
                    required><span> Please select if this is the corresponding author</span>

                </div>

                <!-- <mat-checkbox class="example-margin" [(ngModel)]="checkauthor"> Please select if this is the corresponding author</mat-checkbox>
               -->
                <button class="btn btn-primary" style="margin-left: 40%;" type="submit">Add Author</button>
              </form>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div>
      <div class="row">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Academic
              Degree</th>
            <th>Affiliation</th>
            <th>E-mail Address</th>
            <th>Remove</th>
          </thead>
          <tbody>
            <tr *ngFor = "let i of manudata.authorsData">
              <td class="text-center">{{i.auth_firstname}}</td>
              <td class="text-center">{{i.auth_middlename}}</td>
              <td class="text-center">{{i.auth_lastname}}</td>
              <td class="text-center">{{i.degree}}</td>
              <td class="text-center">{{i.affiliation}}</td>
              <td class="text-center">{{i.auth_email}}</td>
              <td class="text-center"> <a style="cursor: pointer;" (click)="deleteauthor(i)"><i class="fa fa-trash"></i></a></td>



            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <br>
    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Attach Files">
    <br>
    <div class="container">
      <div class="row">
        <div class="col-sm-3" id="part1">
          (*)These Files are Mandatory
          <p style="color: red;"> &nbsp;Upload PDF files only </p>
          <div style="margin-top: 20%;">
            <div *ngIf="!check1; else elseB1">
              <a><i style="color: red;" class="fa fa-times"></i>&nbsp;*Cover Letter</a>
            </div>
            <div>
              <ng-template #elseB1><i style="color: green;" class="fas fa-check"></i>&nbsp;*Cover Letter
              </ng-template>
            </div>
          </div>
          <div *ngIf="!check2; else elseB2">
            <a><i style="color: red;" class="fa fa-times"></i>&nbsp;*Manuscript File</a>
          </div>
          <div>
            <ng-template #elseB2><i style="color: green;" class="fas fa-check"></i>&nbsp;*Manuscript File
            </ng-template>
          </div>



          <div *ngIf="!check3; else elseB3">
            <a><i style="color: red;" class="fa fa-times"></i>&nbsp;*Conflict of Interest</a>
          </div>
          <div>
            <ng-template #elseB3><i style="color: green;" class="fas fa-check"></i>&nbsp;*Conflict of Interest
            </ng-template>
          </div>

        </div>
        <div class="col-sm-1">

        </div>
        <div class="col-sm" id="part2">
          <div class="row">
            <div class="col-sm-6">
              <form>
                <h4>Select Item Type</h4>
                <mat-form-field appearance="fill">
                  <mat-select [(value)]="selected">
                    <mat-option *ngFor="let file of files" [value]="file.value">
                      {{file.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <br>

                <h4>Description</h4>
                <mat-form-field appearance="fill">

                  <input matInput value="{{selected}}">
                </mat-form-field>
              </form>
            </div>

            <div class="col-sm-6">
              <div class="form-group" style="margin-top: 25%;">
                <!-- <input type="file"  name ="image" (change)="fileuploads(f.files[0])" class="form-control" #f> -->
                <form #ref="ngForm" >
                  <input type="file" name="image" id="" ngModel  (input)="onChange(f.files[0])" #f>
                </form>

              </div>
              <div class="form-group">
                <button type="button" class="btn btn-success" (click)="save()">Upload</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- <div class="container">
      <div class="row">
        <table class="table table-bordered">
          <thead class="thead-dark">
            <th>File</th>
            <th>Name</th>
            <th>Type</th>
            <th>Size</th>
            <th>Action</th>
          </thead>
          <tbody>
            <tr *ngFor="let d of displayfiles">
              <td>{{d.sel}}</td>
              <td>{{d.name}}</td>
              <td>{{d.type}}</td>
              <td>{{d.size}}</td>
              <td> <a style="cursor: pointer;" (click)="deletefile(d)"><i class="fa fa-trash"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
    <!-- <app-attach-files></app-attach-files> -->
    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Additional Information">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Additional Information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="container">
          <div class="row">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Funding acknowledgement</mat-card-title>
                <mat-card-subtitle>Please confirm that you have acknowledged all organizations that funded your
                  research, and provided grant numbers where appropriate</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <section>
                  <mat-checkbox [(ngModel)]="manudata.isFunded">All Funding Sources have been acknowledged
                  </mat-checkbox>
                </section>
              </mat-card-content>
            </mat-card>
          </div>
          <br>
          <div class="row">
            <mat-card>
              <mat-card-header>
                <mat-card-title>Dual Publication Statement</mat-card-title>
                <mat-card-subtitle>Please confirm that the work described has not been published previously and it is
                  not under consideration for publication elsewhere</mat-card-subtitle>
              </mat-card-header>
              <mat-card-content>
                <section>
                  <mat-checkbox [(ngModel)]="manudata.isDualPublicationStatement">Yes</mat-checkbox>
                </section>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-card><br>
    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Comments">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Enter Comments</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <hr>
        <p>Please enter any additional comments you would like to send to the publication office.These comments will not
          appear directly in your submission.</p>
        <hr>
        <mat-card>
          <div class="comment">
            <textarea matInput rows="6" minlength="50" placeholder="Enter Comments"
              style="overflow: hidden; overflow-wrap: break-word; height: 122px;"
              [(ngModel)]="manudata.comment"></textarea>
          </div>
        </mat-card>
      </mat-card-content>
    </mat-card>
    <br>
    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary" matStepperNext>Next</button>
  </mat-step>
  <mat-step label="Manuscript Data">

    <mat-accordion multi>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Title
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
          <textarea matInput rows="6" minlength="50" placeholder="Enter Full Title"
            style="overflow: hidden; overflow-wrap: break-word; height: 122px;" readonly>
          {{title}}
        </textarea>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Abstract
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
          <textarea matInput placeholder="Enter abstract" [(ngModel)]="manudata.abstract">
        </textarea>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Keywords
          </mat-panel-title>
        </mat-expansion-panel-header>
        <mat-form-field appearance="fill">
          <textarea matInput placeholder="keywords" [(ngModel)]="manudata.keywords">
            </textarea>
        </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Authors
          </mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <p>You may reorder the authors by dragging and dropping an Author's summary line to the correct position in the
          Current Author List.</p>
        <hr>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Funding Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <hr>
        <p>Please choose a funding source from the list that displays as you start to enter the funder's name. If you
          are unable to make a selection from the list you can continue to enter the entire funder's name. Then enter
          the award number and select the award recipient.</p>
        <hr>
      </mat-expansion-panel>

    </mat-accordion>
    <br>
    <button mat-raised-button color="primary" matStepperPrevious>Back</button>
    <button mat-raised-button color="primary">Reset</button>
    <button mat-raised-button color="primary" (click)="submit(ref)">Save & Submit Later</button>
    <button mat-raised-button color="primary" (click)="build()">Build PDF for Approval</button>
   
  </mat-step>
</mat-horizontal-stepper>