<br>
<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 description mt-2 ">
            <!-- <h1><b>Editorial Board</b></h1> -->
          
          <span id="title">Managing Editors</span> <br><br>
           <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">G.Madhu</b>, VNR Vignana Jyothi Insititute of Engineering & Technology, Hyderabad, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor, Department of Information Technology,VNR Vignana Jyothi Institute of Engineering & Technology,Bachupally, Nizampet (S.O.), Hyderabad- 500 090,<b>India</b>
                            <br> Phone No: +91 9849085728<br> E-Mail: madhu@researchfoundation.in, madhu_g@vnrvjiet.in <br>
<!--                             <a href="https://www.carehospitals.com/doctors/dr-anoop-agrawal/" style="color: blue;">https://www.carehospitals.com/doctors/dr-anoop-agrawal/</a> -->
                        </p>
                    </div>
                </div>
            </div>
        
         
          <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Navnit Jha</b>, South Asian University, New Delhi, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Associate Professor, Faculty of Mathematics & Computer Science, South Asian University, A University Established by the SAARC Nations, Akbar Bhavan, Chanakyapiri, New Delhi- 110021
                            <br> Phone No: +91 8800933491<br> E-Mail: navnitjha@sau.ac.in <br>
<!--                             <a href="https://www.carehospitals.com/doctors/dr-anoop-agrawal/" style="color: blue;">https://www.carehospitals.com/doctors/dr-anoop-agrawal/</a> -->
                        </p>
                    </div>
                </div>
            </div>
          
          
          
          
          
<br><br>


            <span id="title">Editorial Board</span> <br><br>




            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Anoop Agrawal</b>, Cardiac Sciences, CARE Hospitals, Hyderabad, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Sr. Consultant Cardiologist (Interventional), CARE Hospitals, Road No.1, Banjara Hills, Hyderabad - 500039, India
                            <br> Phone No: +91 6281487406<br> E-Mail: anoop@researchfoundation.in <br>
                            <a href="https://www.carehospitals.com/doctors/dr-anoop-agrawal/" style="color: blue;">https://www.carehospitals.com/doctors/dr-anoop-agrawal/</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Arvind Kumar Misra</b>, Department of Mathematics, Institute of Science, Banaras Hindu University, Varanasi, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor, Department of Mathematics, Institute of Science, Banaras Hindu University, Varanasi, U.P - 221005, India
                            <br> Phone No: +91 7521999874<br> E-Mail: akmisra@bhu.ac.in <br>
                            <a href="https://bhu.ac.in/Site/FacultyProfile/1_156?FA000891" style="color: blue;">https://bhu.ac.in/Site/FacultyProfile/1_156?FA000891/</a>
                        </p>
                    </div>
                </div>
            </div>
          
            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Balaram Ghosh</b>, Department of Pharmacy, Birla Institute of Technology & Science-Pilani, Hyderabad Campus, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Prof. Balaram Ghosh, PhD(USA) <br> Department of Pharmacy<br> Principal Investigator: Epigenetic Research Laboratory <br> Birla Institute of Technology & Science-Pilani, Hyderabad Campus, Jawahar Nagar, Kapra Mandal <br> Hyderabad
                            500 078, Telangana State, India <br> Phone. 91-986-694-1923 (cell), 91-4066303639 (Office) <br> Website: <a href="https://universe.bits-pilani.ac.in/Hyderabad/balaram/Profile" style="color: blue;">https://universe.bits-pilani.ac.in/Hyderabad/balaram/Profile</a>                            <br> GoogleScholar: <a href="https://scholar.google.com/citations?hl=" style="color: blue;">https://scholar.google.com/citations?hl=</a>
                        </p>
                    </div>
                </div>
            </div>
           <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Bishnu Prasad Lamichhane</b>, School of Information and Physical Sciences, College of Engineering, Science and Environment, University of Newcastle, <b>Australia</b></p>
                    <div class="myhoverclasscontent">
                        <p>Dr. Bishnu Prasad Lamichhane,<br> Room SR217, School of Information and Physical Sciences College of Engineering,<br> Science and Environment, University of Newcastle, University Drive, Callaghan NSW 2308, Australia<br> E-mail: bishnu.lamichhane@newcastle.edu.au<br> Website:
                            <a href="https://www.newcastle.edu.au/profile/bishnu-lamichhane" style="color: blue;">https://www.newcastle.edu.au/profile/bishnu-lamichhane</a>
                        </p>
                    </div>
                </div>
            </div>
            
            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">HariKrishna G.N. Rai</b>, GE Healthcare, Bangalore, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Technical Product Manager, GE Healthcare, Bangalore, India<br>Phone No: 7019062840<br> E-Mail: harikrishna.rai@ge.com<br>
                            <a href="https://www.linkedin.com/in/harikrishna-rai-ph-d-b6948b5/?originalSubdomain=in" style="color: blue;">https://www.linkedin.com/in/harikrishna-rai-ph-d-b6948b5/?originalSubdomain=in</a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Harish Kumar</b>, University Institute of Engineering and Technology, Panjab University, Chandigarh, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor, Department of Computer Science and Engineering, University Institute of Engineering and Technology, Panjab University, Chandigarh – 160014, India<br> Phone No: 9815964121<br> E-Mail: harishk@pu.ac.in<br />
                            <a href="https://uiet.puchd.ac.in/wp-content/uploads/2021/11/HarishKumar_2021.pdf" style="color: blue;">https://uiet.puchd.ac.in/wp-content/uploads/2021/11/HarishKumar_2021.pdf</a>
                        </p>
                    </div>
                </div>
            </div>



            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Le Van Hien</b>, Hanoi National University of Education, <b>Vietnam</b></p>
                    <div class="myhoverclasscontent">
                        <p>Dean of the Faculty of Mathematics and Informatics,<br> Hanoi National University of Education,<br> 136 Xuan Thuy Rd., Cau Giay, Hanoi, Vietnam<br> E-mail: hienlv@hnue.edu.vn<br> Website:
                            <a href="https://hnue.edu.vn/directories/?Hienlv" style="color: blue;">https://hnue.edu.vn/directories/?Hienlv</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Mahesh C. Joshi</b>, Department of Mathematics, Statistics and Information Technology Kumaun University, DSB Campus, Nainital, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor and Head, Department of Mathematics, Statistics and Information Technology Kumaun University, DSB Campus, Nainital, 263001 Uttarakhand, India<br> E-Mail: mcjoshi69@gmail.com
                        </p>
                    </div>
                </div>
            </div>
             <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Mehdi Salimi</b>, Mathematics Department, Kwantlen Polytechnic University, BC, <b>Canada</b></p>
                    <div class="myhoverclasscontent">
                        <p>Mathematics Department, <br> Kwantlen Polytechnic University, <br> BC, Canada <br> E-mail: mehdi.salimi@kpu.ca<br> Website:
                            <a href="https://wwwpub.zih.tu-dresden.de/~salimi/" style="color: blue;">https://wwwpub.zih.tu-dresden.de/~salimi/</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Mikhail V. Altaisky</b>, Space Research Institute, RAS, Moscow, <b>Russia</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor, Space Research Institute, RAS, Profsoyuznaya, 84/32, Moscow, 117997, Russia<br> Phone No: +79035700109
                            <br> E-Mail: Altaisky@rssi.ru<br>
                            <a href="https://www.researchgate.net/profile/M-Altaisky" style="color: blue;">https://www.researchgate.net/profile/M-Altaisky</a>

                        </p>
                    </div>
                </div>
            </div>
            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Manoranjan Mishra</b>, Fluid Dynamics Research Lab, Indian Institute of Technology Ropar, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor, Fluid Dynamics Research Lab, Department of Mathematics, Indian Institute of Technology Ropar, Nangal Road, Rupnagar-140 001, Punjab, India <br> Phone No: +91-1881-24-2158 (Office)
                            <br> E-Mail: manoranjan@iitrpr.ac.in<br>
                            <a href="https://www.iitrpr.ac.in/FD/People_MM.html" style="color: blue;">https://www.iitrpr.ac.in/FD/People_MM.html</a>

                        </p>
                    </div>
                </div>
            </div>
            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Pradyumn Kumar Sahoo</b>, Birla Institute of Technology & Science, Hyderabad, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor, <br> Department of Mathematics, <br> BITS-Pilani, Hyderabad Campus,
                            <br> Hyderabad-500078, India
                            <br> Email:  pksahoo@hyderabad.bits-pilani.ac.in <br> Phone: +919912564154
                            <br>
                            <a href="http://universe.bits-pilani.ac.in/hyderabad/pradyumnkumarsahoo/Profile" style="color: blue;"> http://universe.bits-pilani.ac.in/hyderabad/pradyumnkumarsahoo/Profile</a>
                        </p>
                    </div>
                </div>
            </div>



<!--             <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Rabie A. Ramadan</b>, Cairo University, Giza, <b>Egypt</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor, Computer Engineering Department<br> Faculty of Engineering <br> Cairo University, Giza, Egypt <br> E- mail: rabie@rabieramadan.org <br> Website: <a href="https://rabieramadan.org/" style="color: blue;">https://rabieramadan.org/</a>
                        </p>
                    </div>
                </div>
            </div> -->

            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Rama Bhadra Raju Vuppalapati</b>, VT Industries, Clarksville, <b>USA</b></p>
                    <div class="myhoverclasscontent">
                        <p> Sr. Materials Engineer, VT Industries, 302 S Traer St, Clarksville, IA 50619<br> Phone No: +1-319-278-4790 Ext.20205<br> E-Mail: raju.vuppalapati@vtindustries.com<br />
                            <a href="https://www.linkedin.com/in/rajuvuppalapati/" style="color: blue;">https://www.linkedin.com/in/rajuvuppalapati/</a>
                        </p>
                    </div>
                </div>
            </div>



            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Ryusuke Kon</b>, University of Miyazaki, <b>Japan</b></p>
                    <div class="myhoverclasscontent">
                        <p>Professor, Faculty of Engineering,<br> University of Miyazaki,<br> Gakuen Kibanadai Nishi 1-1,<br> Miyazaki 889-2192, Japan,<br> Phone: +81-985-58-7379 <br> E-mail: konr@cc.miyazaki-u.ac.jp<br>
                        </p>
                    </div>
                </div>
            </div>



            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Siddhartha Pratim Chakrabarty</b>, Indian Institute of Technology,Guwahati, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p>Professor,<br>Department of Mathematics,<br>Mehta Family School of Data Science and Artificial Intelligence (Associate Faculty),<br>School of Business (Adjunct Faculty),
                            <br>Indian Institute of Technology Guwahati, Guwahati – 781039, Assam, India
                            <br> Phone No: +91-361-2582606<br>E-Mail: pratim@iitg.ac.in<br>
                            <a href="https://www.iitg.ac.in/pratim/" style="color: blue;">https://www.iitg.ac.in/pratim/</a>
                        </p>
                    </div>
                </div>
            </div>





            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">V. Gireesh Menta</b>, University of Minnesota, Duluth, <b>USA</b></p>
                    <div class="myhoverclasscontent">
                        <p>Department of Mechanical and Industrial Engineering,
                            <br>University of Minnesota - Duluth, <br> 203 Engr., 1305 Ordean Court,<br> Duluth, MN 55812<br> Phone No: +1 218-726-6925<br> E-Mail: vkmenta@d.umn.edu<br>
                            <a href="https://sites.google.com/d.umn.edu/vgkmenta" style="color: blue;">https://sites.google.com/d.umn.edu/vgkmenta</a>
                        </p>
                    </div>
                </div>
            </div>





            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Xiaosong Du</b>, Physical Artificial Intelligence Laboratory (PHLAI Lab), Mechanical and Aerospace Engineering, Missouri University of Science and Technology, Rolla, <b>USA</b></p>
                    <div class="myhoverclasscontent">
                        <p>Physical Artificial Intelligence Laboratory (PHLAI Lab) <br> Mechanical and Aerospace Engineering | Missouri S&T <br> Office 337, Toomey Hall | Rolla, MO 65401 <br>
                            <br> Phone No: (515)7088830<br>E-Mail: xdnwp@mst.edu
                            <a href="https://xiaosongkevindu.wixsite.com/phlai/xiaosong-du" style="color: blue;">https://xiaosongkevindu.wixsite.com/phlai/xiaosong-du</a>
                        </p>
                    </div>
                </div>
            </div>

















            <!--             <b>V. Gireesh Menta</b>
            <br><p>Department of Mechanical and Industrial Engineering,
            <br>University of Minnesota - Duluth, <br>
            Duluth, MN 55812, USA
            <br> Phone No: +1 218-726-6925<br>
            E-Mail: vkmenta@d.umn.edu<br>
            <a href="https://sites.google.com/d.umn.edu/vgkmenta" style="color: blue;">https://sites.google.com/d.umn.edu/vgkmenta</a>
            </p>


            <b>Siddhartha Pratim Chakrabarty</b>
            <br><p>Professor,<br>Department of Mathematics,<br>Mehta Family School of Data Science and Artificial Intelligence (Associate Faculty),<br>School of Business (Adjunct Faculty),
                <br>Indian Institute of Technology Guwahati
                Guwahati – 781039, Assam, India
            <br> Phone No: +91-361-2582606<br>
            E-Mail: pratim@iitg.ac.in<br>
            <a href="https://www.iitg.ac.in/pratim/" style="color: blue;">https://www.iitg.ac.in/pratim/</a>
            </p>


            <b>V. Prakash Reddy</b><br>
            <p>Professor, Department of Chemistry, Missouri University of Science and Technology, Rolla,
            MO 65409, USA<br> Phone No: +1-573-341-4768<br> E-Mail: preddy@mst.edu<br />
            <a href="https://people.mst.edu/faculty/preddy/index.html" style="color: blue;">https://people.mst.edu/faculty/preddy/index.html</a>
            </p>


            <b>Harish Kumar</b><br>
            <p> Professor, Department of Computer Science and Engineering, University Institute of Engineering
            and Technology, Panjab University, Chandigarh – 160014, India<br> Phone No: 9815964121<br> E-Mail: harishk@pu.ac.in<br />
            <a href="https://uiet.puchd.ac.in/wp-content/uploads/2021/11/HarishKumar_2021.pdf" style="color: blue;">https://uiet.puchd.ac.in/wp-content/uploads/2021/11/HarishKumar_2021.pdf</a>
            </p>


            <b>Kapil K. Sharma</b><br>
            <p> Professor, Faculty of Mathematics &amp; Computer Science, South Asian University, A University
            Established by the SAARC Nations, Akbar Bhavan, Chanakyapiri, New Delhi- 110021, India<br>
            Phone No: 9855682505<br> E-Mail: kapil.sharma@sau.ac.in<br />
            <a href="http://www.sau.int/faculty/faculty-profile.html?staff_id=50" style="color: blue;">http://www.sau.int/faculty/faculty-profile.html?staff_id=50</a>
            </p>

            <b>Ravi Durvasula</b><br>
            <p>Chairman, Department of Medicine, John W. Clarke Endowed Professor of Medicine,
            Professor of Public Health Sciences, Loyola University Stritch School of Medicine, 2160 South First Avenue,
            Maywood, IL 60153, USA<br> Phone No: +1-505-362-0856<br> E-Mail: Durvasula.Ravi@mayo.edu<br />
            <a href="https://www.loyolamedicine.org/gme/internal-med-fellow/infectious-disease/faculty/ravi-durvasula" style="color: blue;">https://www.loyolamedicine.org/gme/internal-med-fellow/infectious-disease/faculty/ravi-durvasula</a>
             </p>

             <b>Teo Kok Lay</b><br>
             <p>Professor, School of Mathematical Sciences, SUNWAY UNIVERSITY, No.5 Jalan University, Bandar Sunway, 47500 Selangor Darul Ehsan, Malaysia <br/>
            John Curtin Distinguished Emeritus Professor, Curtin University, Perth, Australia<br> 
             Phone No: +61422 314 811<br>
                E-Mail: koklayt@sunway.edu.my<br> 
                E-Mail: K.L.Teo@curtin.edu.au<br> 

                <a href="https://university.sunway.edu.my/profiles/sms/teo-kok-lay" style="color: blue;">https://university.sunway.edu.my/profiles/sms/teo-kok-lay</a>
            </p><br>


           
          <b>Pascal Kossivi Adjamagbo</b>
          <p>, Sorbonne University, Paris, <b>France</b></p>
             <p> Professor, Institut de Mathematiques, Jussieu, Sorbonne Universite (Universite Pierre
             et Marie Curie – Paris 6), IMJ, 4 place Jussieu, 75252 Parix Cedex, Paris , France<br> Phone No: 00 33 6 33 66 21 12<br>
             E-Mail: kossivi.adjamagbo@sorbonne-universite.fr<br />
             <a href="http://ufrmath.sorbonne-universite.fr/fr/index.html" style="color: blue;">http://ufrmath.sorbonne-universite.fr/fr/index.html</a>
             </p>
     

            <b>Mikhail V. Altaisky</b><br><p> Professor, Space Research Institute, RAS, Profsoyuznaya, 84/32, Moscow, 117997, Russia<br> Phone No:
                +79035700109<br> E-Mail: Altaisky@rssi.ru<br>
            <a href="https://www.researchgate.net/profile/M-Altaisky" style="color: blue;">https://www.researchgate.net/profile/M-Altaisky</a>
            <a href="http://www.pdmi.ras.ru/~dd/download/list_dd18.pdf" style="color: blue;">http://www.pdmi.ras.ru/~dd/download/list_dd18.pdf</a>
            </p>

            <b>Anoop Agrawal</b>
            <br><p> Sr. Consultant Cardiologist (Interventional), CARE Hospitals, Road No.1, Banjara Hills, Hyderabad - 500039, India
            <br> Phone No: +91 6281487406<br>
            E-Mail: anoop@researchfoundation.in <br />
            <a href="https://www.carehospitals.com/doctors/dr-anoop-agrawal/" style="color: blue;">https://www.carehospitals.com/doctors/dr-anoop-agrawal/</a>
            </p>

            <b>T. Ravindra Babu</b><br>
            <p> Head, Department of Data Science, Sahaj Software Solutions, 365, 3rd Floor,Sulochana Building,Koramangala,Banglore-560034,India<br>Phone No: 9739907725<br>
            E-Mail: ravindrab@sahaj.ai<br />
            <a href="https://sahaj.ai/people/" style="color: blue;">https://sahaj.ai/people/</a>
            </p>

            <b> M.A.S. Srinivas</b><br>
            <p> Professor and Head, Department of Mathematics, Jawaharlal Nehru Technological University,
            Hyderabad – 500035, India<br>Phone No: 9814033941<br> E-Mail: massrinivas@jntuh.ac.in<br/>
            <a href="https://jntuhceh.ac.in/faculty_details/8/dept/411" style="color: blue;">https://jntuhceh.ac.in/faculty_details/8/dept/411</a>
            </p> -->

        </div>
    </div>
</div>
