<br />
<div class="container">
  <div class="row">
    <div
      class="col-lg-3 col-md-3 col-sm-12"
      style="display: flex; justify-content: center"
    >
      <app-sidenav></app-sidenav>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-12 description mt-2">
      <!-- <h1><b>Editorial Board</b></h1> -->
      <span id="title">Chief Editors</span> <br /><br />
      <div class="myhoverclass">
        <div class="title">
          <p style="font-size: 18px">
            <b class="name">Ranjit Kumar Upadhyay</b>, Indian Institute of
            Technology, Dhanbad, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              Professor (HAG) & Head, Department of Mathematics & Computing,
              Indian Institute of Technology, (Indian School of Mines)
              <br />Dhanbad- 826 004, India<br />
              Phone No:94311 26485<br />
              E-Mail:ranjit@iitism.ac.in
              <br />
              <a
                href="https://mnc.iitism.ac.in/mnc_faculty_details"
                style="color: blue"
                >https://mnc.iitism.ac.in/mnc_faculty_details
              </a>
              <br />
              <a
                href="https://scholar.google.co.in/citations?user=MxwU4n0AAAAJ&hl=en"
                style="color: blue"
                >https://scholar.google.co.in/citations?user=MxwU4n0AAAAJ&hl=en
              </a>
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass" style="font-size: 18px">
        <div class="title">
          <p style="font-size: 18px">
            <b class="name">Rama Murthy Garimella</b>, Mahindra University,
            Hyderabad, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              Professor, <br />
              Computer Science Department <br />
              Mahindra University <br />
              Hyderabad – 500043, India <br />
              Email:rama.murthy@mahindrauniversity.edu.in<br />
              Phone: 9676719686
              <br />
              <a
                href="https://www.mahindrauniversity.edu.in/faculty/rama-murthy/"
                style="color: blue"
                >https://www.mahindrauniversity.edu.in/faculty/rama-murthy/</a
              ><br />
              <a
                href="https://scholar.google.co.in/citations?user=YUWS9LAAAAAJ&hl=en"
                style="color: blue"
                >https://scholar.google.co.in/citations?user=YUWS9LAAAAAJ&hl=en</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass" style="font-size: 18px">
        <div class="title">
          <p style="font-size: 18px">
            <b class="name">Deepak Kumar Saini</b>, Indian Institute of Science,
            Bangalore,
            <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              Professor, <br />
              Division of Biological Sciences<br />
              Indian Institute of Science <br />
              Bangalore – 560012, India <br />
              Email:  deepaksaini@iisc.ac.in<br />
              Phone: 91-80-22932574
              <br />
              <a
                href="https://sites.google.com/site/sainislab/"
                style="color: blue"
                >https://sites.google.com/site/sainislab/</a
              ><br />
              <a
                href="https://scholar.google.co.in/citations?user=HzjNcegAAAAJ&hl=en"
                style="color: blue"
                >https://scholar.google.co.in/citations?user=HzjNcegAAAAJ&hl=en</a
              >
            </p>
          </div>
        </div>
      </div>
      <br /><br />
      <span id="title">Managing Editors</span> <br /><br />
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">G.Madhu</b>, VNR Vignana Jyothi Insititute of
            Engineering & Technology, Hyderabad, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Algorithms, Artificial Neural
              Networks, Machine Learning and Deep Learning.
            </p>
            <p>
              Department of Information Technology,VNR Vignana Jyothi Institute
              of Engineering & Technology,Bachupally, Nizampet (S.O.),
              Hyderabad- 500 090,<b>India</b> <br />
              Phone No: +91 9849085728<br />
              E-Mail: madhu@researchfoundation.in, madhu_g@vnrvjiet.in <br />
              <!--                             <a href="https://www.carehospitals.com/doctors/dr-anoop-agrawal/" style="color: blue;">https://www.carehospitals.com/doctors/dr-anoop-agrawal/</a> -->
            </p>
          </div>
        </div>
      </div>

      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Saroj Kumar Sahani</b>, South Asian University, New
            Delhi, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Mathematical Biology, Dynamical
              Systems, Bifurcations and Chaos.
            </p>
            <p>
              Faculty of Mathematics & Computer Science, South Asian University,
              A University Established by the SAARC Nations, Akbar Bhavan,
              Chanakyapiri, New Delhi- 110021 <br />
              Phone No: +91 9602214118<br />
              E-Mail: sarojkumar@sau.ac.in <br />
              <!--                             <a href="https://www.carehospitals.com/doctors/dr-anoop-agrawal/" style="color: blue;">https://www.carehospitals.com/doctors/dr-anoop-agrawal/</a> -->
            </p>
          </div>
        </div>
      </div>

      <br /><br />

      <span id="title">Editorial Board</span> <br /><br />

      <!--             <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Anoop Agrawal</b>, Cardiac Sciences, CARE Hospitals, Hyderabad, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Sr. Consultant Cardiologist (Interventional), CARE Hospitals, Road No.1, Banjara Hills, Hyderabad - 500039, India
                            <br> Phone No: +91 6281487406<br> E-Mail: anoop@researchfoundation.in <br>
                            <a href="https://www.carehospitals.com/doctors/dr-anoop-agrawal/" style="color: blue;">https://www.carehospitals.com/doctors/dr-anoop-agrawal/</a>
                        </p>
                    </div>
                </div>
            </div> -->
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Aekta Aggarwal</b>, Indian Institute of Management, Indore, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Partial Differential Equations, Hyperbolic Conservation Laws, Analysis of Numerical Algorithms for PDE-based models of multidisciplinary applications.
            </p>
            <p> Dept. of Operations Management and Quantitative Techniques, Indian Institute of Management, Indore, India <br />
              Phone No: +91-9742-734-973<br/>
              E-Mail: aektaaggarwal@iimidr.ac.in <br/>
              <a
                href="https://iimidr.ac.in/faculty/full-time-faculty/aekta-aggarwal/"
                style="color: blue"
                >https://iimidr.ac.in/faculty/full-time-faculty/aekta-aggarwal/</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Arvind Kumar Misra</b>, Banaras Hindu University,
            Varanasi, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Mathematical Modeling, Ecology,
              Environmental Science, Social Dynamics.
            </p>
            <p>
              Department of Mathematics, Institute of Science, Banaras Hindu
              University, Varanasi, U.P - 221005, India <br />
              Phone No: +91 7521999874<br />
              E-Mail: akmisra@bhu.ac.in <br />
              <a
                href="https://bhu.ac.in/Site/FacultyProfile/1_156?FA000891"
                style="color: blue"
                >https://bhu.ac.in/Site/FacultyProfile/1_156?FA000891/</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Aziz-Alaoui. M.A.</b>, Université Le Havre Normandie
            (ULHN), <b>France</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Dynamical Systems, Bifurcations and
              Chaos, Control and Synchronization of ODE and Delay Equations, PDE
              and Evolution Problems, Complex Systems, Neuroscience, Ecosystems,
              Epidemiology.
            </p>
            <p>
              Applied Mathematics,<br />
              University of Le Havre, <br />
              Normandie, France,<br />
              E-mail: aziz.alaoui@univ-lehavre.fr<br />
              Website:
              <a
                href="https://lmah.univ-lehavre.fr/~alaoui/index_ENGLISH.html"
                style="color: blue"
                >https://lmah.univ-lehavre.fr/~alaoui/index_ENGLISH.html</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Balram Dubey</b>, BITS Pilani, Pilani Campus Pilani,
            <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Dynamical Systems, Stability Theory,
              Bifurcations and Chaos, Epidemiology.
            </p>
            <p>
              Department of Mathematics,<br />
              BITS Pilani, <br />
              Pilani Campus Pilani - 333031, India <br />
              E-mail: bdubey@pilani.bits-pilani.ac.in<br />
              Website:
              <a
                href="http://universe.bits-pilani.ac.in/pilani/bdubey/profile"
                style="color: blue"
                >http://universe.bits-pilani.ac.in/pilani/bdubey/profile</a
              >
            </p>
          </div>
        </div>
      </div>
      <!--             <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Balaram Ghosh</b>, Department of Pharmacy, Birla Institute of Technology & Science-Pilani, Hyderabad Campus, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Prof. Balaram Ghosh, PhD(USA) <br> Department of Pharmacy<br> Principal Investigator: Epigenetic Research Laboratory <br> Birla Institute of Technology & Science-Pilani, Hyderabad Campus, Jawahar Nagar, Kapra Mandal <br> Hyderabad
                            500 078, Telangana State, India <br> Phone. 91-986-694-1923 (cell), 91-4066303639 (Office) <br> Website: <a href="https://universe.bits-pilani.ac.in/Hyderabad/balaram/Profile" style="color: blue;">https://universe.bits-pilani.ac.in/Hyderabad/balaram/Profile</a>                            <br> GoogleScholar: <a href="https://scholar.google.com/citations?hl=" style="color: blue;">https://scholar.google.com/citations?hl=</a>
                        </p>
                    </div>
                </div>
            </div> -->
      <!--            <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Bishnu Prasad Lamichhane</b>, School of Information and Physical Sciences, College of Engineering, Science and Environment, University of Newcastle, <b>Australia</b></p>
                    <div class="myhoverclasscontent">
                        <p>Dr. Bishnu Prasad Lamichhane,<br> Room SR217, School of Information and Physical Sciences College of Engineering,<br> Science and Environment, University of Newcastle, University Drive, Callaghan NSW 2308, Australia<br> E-mail: bishnu.lamichhane@newcastle.edu.au<br> Website:
                            <a href="https://www.newcastle.edu.au/profile/bishnu-lamichhane" style="color: blue;">https://www.newcastle.edu.au/profile/bishnu-lamichhane</a>
                        </p>
                    </div>
                </div>
            </div>
             -->
      <!--             <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">HariKrishna G.N. Rai</b>, GE Healthcare, Bangalore, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Technical Product Manager, GE Healthcare, Bangalore, India<br>Phone No: 7019062840<br> E-Mail: harikrishna.rai@ge.com<br>
                            <a href="https://www.linkedin.com/in/harikrishna-rai-ph-d-b6948b5/?originalSubdomain=in" style="color: blue;">https://www.linkedin.com/in/harikrishna-rai-ph-d-b6948b5/?originalSubdomain=in</a>
                        </p>
                    </div>
                </div>
            </div> -->

      <!--             <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Harish Kumar</b>, University Institute of Engineering and Technology, Panjab University, Chandigarh, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor, Department of Computer Science and Engineering, University Institute of Engineering and Technology, Panjab University, Chandigarh – 160014, India<br> Phone No: 9815964121<br> E-Mail: harishk@pu.ac.in<br />
                            <a href="https://uiet.puchd.ac.in/wp-content/uploads/2021/11/HarishKumar_2021.pdf" style="color: blue;">https://uiet.puchd.ac.in/wp-content/uploads/2021/11/HarishKumar_2021.pdf</a>
                        </p>
                    </div>
                </div>
            </div> -->
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Juan Jose Nieto Roig</b>, University of Santiago,
            <b>Spain</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Mathematical Analysis, Nonlinear
              Differential Equations, Mathematical Modeling.
            </p>
            <p>
              University of Santiago de Compostela, Mathematics,<br />
              Campus Sur, 15782,<br />
              SPAIN, 34 981 563100, FAX: 34 981 597054,<br />
              E-mail: juanjose.nieto.roig@usc.es<br />
              Website:
              <a
                href="https://investigacion.usc.gal/investigadores/59754/detalle"
                style="color: blue"
                >https://investigacion.usc.gal/investigadores/59754/detalle</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Le Van Hien</b>, Hanoi National University of
            Education, <b>Vietnam</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Qualitative Theory of
              Differential-difference Equations; Systems and Control Theory;
              Time-delay Systems.
            </p>
            <p>
              Dean of the Faculty of Mathematics and Informatics,<br />
              Hanoi National University of Education,<br />
              136 Xuan Thuy Rd., Cau Giay, Hanoi, Vietnam<br />
              E-mail: hienlv@hnue.edu.vn<br />
              Website:
              <a
                href="http://www.hnue.edu.vn/directory/Hienlv"
                style="color: blue"
                >http://www.hnue.edu.vn/directory/Hienlv</a
              >
            </p>
          </div>
        </div>
      </div>

      <!--             <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Mahesh C. Joshi</b>, Department of Mathematics, Statistics and Information Technology Kumaun University, DSB Campus, Nainital, <b>India</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor and Head, Department of Mathematics, Statistics and Information Technology Kumaun University, DSB Campus, Nainital, 263001 Uttarakhand, India<br> E-Mail: mcjoshi69@gmail.com
                        </p>
                    </div>
                </div>
            </div> -->
      <!--              <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Mehdi Salimi</b>, Mathematics Department, Kwantlen Polytechnic University, BC, <b>Canada</b></p>
                    <div class="myhoverclasscontent">
                        <p>Mathematics Department, <br> Kwantlen Polytechnic University, <br> BC, Canada <br> E-mail: mehdi.salimi@kpu.ca<br> Website:
                            <a href="https://wwwpub.zih.tu-dresden.de/~salimi/" style="color: blue;">https://wwwpub.zih.tu-dresden.de/~salimi/</a>
                        </p>
                    </div>
                </div>
            </div> -->

      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Mikhail V. Altaisky</b>, Space Research Institute,
            RAS, Moscow, <b>Russia</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Quantum Field Theory, Quantum
              Information, Quantum Gravity, Quantum Artificial Intelligence,
              Turbulence.
            </p>
            <p>
              Space Research Institute, RAS, Profsoyuznaya, 84/32,
              Moscow, 117997, Russia<br />
              Phone No: +79035700109 <br />
              E-Mail: Altaisky@rssi.ru<br />
              <a
                href="https://www.researchgate.net/profile/M-Altaisky"
                style="color: blue"
                >https://www.researchgate.net/profile/M-Altaisky</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Mamta Rani</b>, Central University of Rajasthan,
            <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Fractal Graphics and Chaos, Swarm
              Intelligence, Chaotic Cryptography, Vedic Sciences.
            </p>
            <p>
              Department of Computer Science, Central University of Rajasthan,
              Bandar Sindri, NH-8, Kishangarh, Dist- Ajmer 305801, Rajasthan,
              India<br />
              Phone No: <br />
              E-Mail: mamtarsingh@curaj.ac.in<br />
              <a
                href="https://www.curaj.ac.in/faculty/mamta-rani"
                style="color: blue"
                >https://www.curaj.ac.in/faculty/mamta-rani</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Manoranjan Mishra</b>, Indian Institute of
            Technology Ropar, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Fluid Dynamics, Scientific computing,
              Mathematical Modeling, Hydodynamic Stability.
            </p>
            <p>
              Fluid Dynamics Research Lab, Department of Mathematics, Indian
              Institute of Technology Ropar, Nangal Road, Rupnagar-140 001,
              Punjab, India <br />
              Phone No: +91-1881-24-2158 (Office) <br />
              E-Mail: manoranjan@iitrpr.ac.in<br />
              <a
                href="https://www.iitrpr.ac.in/FD/People_MM.html"
                style="color: blue"
                >https://www.iitrpr.ac.in/FD/People_MM.html</a
              >
            </p>
          </div>
        </div>
      </div>
       <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">A.K.Nandakumaran</b>, Indian Institute of Science, Bangalore, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Homogenization, Exact Controllability, Optimal Control Tomography and Image Reconstruction, Viscosity Solutions and Differential Games.
            </p>
            <p> Chairman & Professor, Department of Mathematics, Indian Institute of Science, Bangalore- 560 012, India. <br />
              Phone No: 91-80-2293 2835/2293 2265 <br />
              E-Mail: nands@iisc.ac.in<br />
              <a
                href="https://math.iisc.ac.in/~nands/"
                style="color: blue"
                >https://math.iisc.ac.in/~nands/</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Rana Parshad</b>, Iowa State University, Ames,
            Iowa,<b>USA</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Differential Equations, Population
              Dynamics, Mathematical Biology.
            </p>
            <p>
              Department of Mathematics, Iowa State University, Ames, Iowa, USA
              <br />
              <br />
              E-Mail: rparshad@iastate.edu<br />
              <a
                href="https://math.iastate.edu/profiles/rana-parshad/"
                style="color: blue"
                >https://math.iastate.edu/profiles/rana-parshad/</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Rekha Raja</b>, Indian Institute of Technology,
            Hyderabad, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Robotics, Agricultural Robotics, Robot
              Learning, Motion Planning, Computer Vision, AI Algorithms
              <br />Department of Artificial Intelligence <br />
              Indian Institute of Technology, Hyderabad, India<br />
              Phone: <br />
              E-mail: rekha.raja@ai.iith.ac.in<br />
              <a
                href="https://www.iith.ac.in/ai/rekha.raja/"
                style="color: blue"
              >
                https://www.iith.ac.in/ai/rekha.raja/</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="myhoverclass">
        <div class="title">
          <p style="font-size: 18px">
            <b class="name">Naveen K. Vaidya</b>, San Diego State University,
            <b>USA</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Mathematical Biology (Pathogen
              Dynamics and Immune Systems, Epidemiology and Ecology),
              Mathematical and Computational Modeling, Differential Equations,
              Dynamical Systems, Optimal Control, Biostatistics, Machine
              Learning.
            </p>
            <p>
              Department of Mathematics and Statistics <br />
              Disease Modeling Laboratory <br />
              San Diego State University <br />
              5500 Campanile Drive, San Diego, California 92182, USA <br />
              E-mail: nvaidya@sdsu.edu <br />
              Phone: +1-619-594-6697 <br />
              Website:
              <a href="http://nvaidya.sdsu.edu/" style="color: blue"
                >http://nvaidya.sdsu.edu/</a
              ><br />
              <a
                href="https://scholar.google.com/citations?user=w7mMcLoAAAAJ&hl=en"
                style="color: blue"
                >https://scholar.google.com/citations?user=w7mMcLoAAAAJ&hl=en</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Pradyumn Kumar Sahoo</b>, Birla Institute of
            Technology & Science, Hyderabad, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Astrophysical Objects, Modified
              Theories of Gravity, Theoretical Cosmology.
            </p>
            <p>
              Department of Mathematics, <br />
              BITS-Pilani, Hyderabad Campus, <br />
              Hyderabad-500078, India <br />
              Email:  pksahoo@hyderabad.bits-pilani.ac.in <br />
              Phone: +919912564154
              <br />
              <a
                href="http://universe.bits-pilani.ac.in/hyderabad/pradyumnkumarsahoo/Profile"
                style="color: blue"
              >
                http://universe.bits-pilani.ac.in/hyderabad/pradyumnkumarsahoo/Profile</a
              >
            </p>
          </div>
        </div>
      </div>

      <!--             <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Rabie A. Ramadan</b>, Cairo University, Giza, <b>Egypt</b></p>
                    <div class="myhoverclasscontent">
                        <p> Professor, Computer Engineering Department<br> Faculty of Engineering <br> Cairo University, Giza, Egypt <br> E- mail: rabie@rabieramadan.org <br> Website: <a href="https://rabieramadan.org/" style="color: blue;">https://rabieramadan.org/</a>
                        </p>
                    </div>
                </div>
            </div> -->

      <!--             <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Rama Bhadra Raju Vuppalapati</b>, VT Industries, Clarksville, <b>USA</b></p>
                    <div class="myhoverclasscontent">
                        <p> Sr. Materials Engineer, VT Industries, 302 S Traer St, Clarksville, IA 50619<br> Phone No: +1-319-278-4790 Ext.20205<br> E-Mail: raju.vuppalapati@vtindustries.com<br />
                            <a href="https://www.linkedin.com/in/rajuvuppalapati/" style="color: blue;">https://www.linkedin.com/in/rajuvuppalapati/</a>
                        </p>
                    </div>
                </div>
            </div> -->
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Prashant K Srivastava</b>, Indian Institute of
            Technology, Patna, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Mathematical Modeling in Biological
              Systems, Nonlinear Dynamics.
            </p>
            <p>
              Mathematical Modeling Lab,<br />Indian Institute of Technology,
              Patna, India,<br /><br />
              E-mail:pksri@iitp.ac.in<br />
              <a href="https://www.iitp.ac.in/~pksri/" style="color: blue"
                >https://www.iitp.ac.in/~pksri/</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Pisipati Radha Krishna</b>, National Institute of
            Technology, Warangal, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Data Mining, Big Data, e- Contracts,
              Databases and Workflow Systems.
            </p>
            <p>
              Department of Computer Science and Engineering,<br />National
              Institute of Technology, Warangal, T.S., India,<br />Phone:+91-870-2462703
              <br />
              E-mail:prkrishna@nitw.ac.in<br />
              <a
                href="https://erp.nitw.ac.in/ext/profile/cs-prkrishna/"
                style="color: blue"
                >https://erp.nitw.ac.in/ext/profile/cs-prkrishna/</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Ryusuke Kon</b>, University of Miyazaki,
            <b>Japan</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Dynamical Systems in Biology,
              Mathematical Modeling of Biological Systems.
            </p>
            <p>
              Faculty of Engineering,<br />
              University of Miyazaki,<br />
              Gakuen Kibanadai Nishi 1-1,<br />
              Miyazaki 889-2192, Japan,<br />
              Phone: +81-985-58-7379 <br />
              E-mail: konr@cc.miyazaki-u.ac.jp<br />
              <a
                href="https://sites.google.com/site/ryusukekon/home"
                style="color: blue"
                >https://sites.google.com/site/ryusukekon/home</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Sanjeewa Perera</b>, University of Colombo,
            <b>Sri Lanka</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Mathematical Modeling in Infectious
              Diseases Transmission, Natural Disaster Modeling, Insurance and
              Actuarial Models for Social-Economic Problems and Uncertainty
              Modelling.
            </p>
            <p>
              Centre for Mathematical Modeling,<br />Department of
              Mathematics,<br />University of Colombo, Colombo 03, Sri Lanka,<br />Phone:
              0094-11-2507010/0094-11-2058139 <br />
              E-mail:ssnp@maths.cmb.ac.lk<br />
              <a
                href="https://www.res.cmb.ac.lk/mathematics/nishantha-perera/"
                style="color: blue"
              >
                https://www.res.cmb.ac.lk/mathematics/nishantha-perera/</a
              >
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Sabu Thomas</b>, Mahatma Gandhi University,  Kottayam, Kerala, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Energy Materials,  Nanoscience and Nanotechnology, Science and Technology.
            </p>
            <p>
              Director, School of Energy Materials, <br />Director, International and Inter-University, Centre for Nanoscience and Nanotechnology,<br />
              <br/>Mahatma Gandhi University,  Kottayam, Kerala, India -686 560 <br/>
              Phone No: +919447223452 <br />E-Mail: sabuthomas@mgu.ac.in<br/>
              <a href="http://www.sabuthomas.com/" style="color: blue"
                >http://www.sabuthomas.com/</a>
            </p>
          </div>
        </div>
      </div>
      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">Siddhartha Pratim Chakrabarty</b>, Indian Institute
            of Technology, Guwahati, <b>India</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Mathematical Finance, Mathematical
              Biology, Data Analytics.
            </p>
            <p>
              Department of Mathematics,<br />Mehta Family School of Data
              Science and Artificial Intelligence (Associate Faculty),<br />School
              of Business (Adjunct Faculty), <br />Indian Institute of
              Technology Guwahati, Guwahati – 781039, Assam, India <br />
              Phone No: +91-361-2582606<br />E-Mail: pratim@iitg.ac.in<br />
              <a href="https://www.iitg.ac.in/pratim/" style="color: blue"
                >https://www.iitg.ac.in/pratim/</a
              >
            </p>
          </div>
        </div>
      </div>

      <div class="myhoverclass">
        <div class="title">
          <p>
            <b class="name">V. Gireesh Menta</b>, University of Minnesota,
            Duluth, <b>USA</b>
          </p>
          <div class="myhoverclasscontent">
            <p>
              <b> Research Interests:</b> Additive Manufacturing, Fiber
              Reinforced Polymer Composites (Design, Manf., Testing & Analysis),
              Lignin Based Polymers, Injection Molding, Armors, Transparent
              Composites and Ceramic Matrix Composites.
            </p>
            <p>
              Department of Mechanical and Industrial Engineering,
              <br />University of Minnesota - Duluth, <br />
              203 Engr., 1305 Ordean Court,<br />
              Duluth, MN 55812<br />
              Phone No: +1 218-726-6925<br />
              E-Mail: vkmenta@d.umn.edu<br />
              <a
                href="https://sites.google.com/d.umn.edu/vgkmenta"
                style="color: blue"
                >https://sites.google.com/d.umn.edu/vgkmenta</a
              >
            </p>
          </div>
        </div>
      </div>

      <!--             <div class="myhoverclass">
                <div class="title">
                    <p><b class="name">Xiaosong Du</b>, Physical Artificial Intelligence Laboratory (PHLAI Lab), Mechanical and Aerospace Engineering, Missouri University of Science and Technology, Rolla, <b>USA</b></p>
                    <div class="myhoverclasscontent">
                        <p>Physical Artificial Intelligence Laboratory (PHLAI Lab) <br> Mechanical and Aerospace Engineering | Missouri S&T <br> Office 337, Toomey Hall | Rolla, MO 65401 <br>
                            <br> Phone No: (515)7088830<br>E-Mail: xdnwp@mst.edu
                            <a href="https://xiaosongkevindu.wixsite.com/phlai/xiaosong-du" style="color: blue;">https://xiaosongkevindu.wixsite.com/phlai/xiaosong-du</a>
                        </p>
                    </div>
                </div>
            </div>
 -->

      <!--             <b>V. Gireesh Menta</b>
            <br><p>Department of Mechanical and Industrial Engineering,
            <br>University of Minnesota - Duluth, <br>
            Duluth, MN 55812, USA
            <br> Phone No: +1 218-726-6925<br>
            E-Mail: vkmenta@d.umn.edu<br>
            <a href="https://sites.google.com/d.umn.edu/vgkmenta" style="color: blue;">https://sites.google.com/d.umn.edu/vgkmenta</a>
            </p>


            <b>Siddhartha Pratim Chakrabarty</b>
            <br><p>Professor,<br>Department of Mathematics,<br>Mehta Family School of Data Science and Artificial Intelligence (Associate Faculty),<br>School of Business (Adjunct Faculty),
                <br>Indian Institute of Technology Guwahati
                Guwahati – 781039, Assam, India
            <br> Phone No: +91-361-2582606<br>
            E-Mail: pratim@iitg.ac.in<br>
            <a href="https://www.iitg.ac.in/pratim/" style="color: blue;">https://www.iitg.ac.in/pratim/</a>
            </p>


            <b>V. Prakash Reddy</b><br>
            <p>Professor, Department of Chemistry, Missouri University of Science and Technology, Rolla,
            MO 65409, USA<br> Phone No: +1-573-341-4768<br> E-Mail: preddy@mst.edu<br />
            <a href="https://people.mst.edu/faculty/preddy/index.html" style="color: blue;">https://people.mst.edu/faculty/preddy/index.html</a>
            </p>


            <b>Harish Kumar</b><br>
            <p> Professor, Department of Computer Science and Engineering, University Institute of Engineering
            and Technology, Panjab University, Chandigarh – 160014, India<br> Phone No: 9815964121<br> E-Mail: harishk@pu.ac.in<br />
            <a href="https://uiet.puchd.ac.in/wp-content/uploads/2021/11/HarishKumar_2021.pdf" style="color: blue;">https://uiet.puchd.ac.in/wp-content/uploads/2021/11/HarishKumar_2021.pdf</a>
            </p>


            <b>Kapil K. Sharma</b><br>
            <p> Professor, Faculty of Mathematics &amp; Computer Science, South Asian University, A University
            Established by the SAARC Nations, Akbar Bhavan, Chanakyapiri, New Delhi- 110021, India<br>
            Phone No: 9855682505<br> E-Mail: kapil.sharma@sau.ac.in<br />
            <a href="http://www.sau.int/faculty/faculty-profile.html?staff_id=50" style="color: blue;">http://www.sau.int/faculty/faculty-profile.html?staff_id=50</a>
            </p>

            <b>Ravi Durvasula</b><br>
            <p>Chairman, Department of Medicine, John W. Clarke Endowed Professor of Medicine,
            Professor of Public Health Sciences, Loyola University Stritch School of Medicine, 2160 South First Avenue,
            Maywood, IL 60153, USA<br> Phone No: +1-505-362-0856<br> E-Mail: Durvasula.Ravi@mayo.edu<br />
            <a href="https://www.loyolamedicine.org/gme/internal-med-fellow/infectious-disease/faculty/ravi-durvasula" style="color: blue;">https://www.loyolamedicine.org/gme/internal-med-fellow/infectious-disease/faculty/ravi-durvasula</a>
             </p>

             <b>Teo Kok Lay</b><br>
             <p>Professor, School of Mathematical Sciences, SUNWAY UNIVERSITY, No.5 Jalan University, Bandar Sunway, 47500 Selangor Darul Ehsan, Malaysia <br/>
            John Curtin Distinguished Emeritus Professor, Curtin University, Perth, Australia<br> 
             Phone No: +61422 314 811<br>
                E-Mail: koklayt@sunway.edu.my<br> 
                E-Mail: K.L.Teo@curtin.edu.au<br> 

                <a href="https://university.sunway.edu.my/profiles/sms/teo-kok-lay" style="color: blue;">https://university.sunway.edu.my/profiles/sms/teo-kok-lay</a>
            </p><br>


           
          <b>Pascal Kossivi Adjamagbo</b>
          <p>, Sorbonne University, Paris, <b>France</b></p>
             <p> Professor, Institut de Mathematiques, Jussieu, Sorbonne Universite (Universite Pierre
             et Marie Curie – Paris 6), IMJ, 4 place Jussieu, 75252 Parix Cedex, Paris , France<br> Phone No: 00 33 6 33 66 21 12<br>
             E-Mail: kossivi.adjamagbo@sorbonne-universite.fr<br />
             <a href="http://ufrmath.sorbonne-universite.fr/fr/index.html" style="color: blue;">http://ufrmath.sorbonne-universite.fr/fr/index.html</a>
             </p>
     

            <b>Mikhail V. Altaisky</b><br><p> Professor, Space Research Institute, RAS, Profsoyuznaya, 84/32, Moscow, 117997, Russia<br> Phone No:
                +79035700109<br> E-Mail: Altaisky@rssi.ru<br>
            <a href="https://www.researchgate.net/profile/M-Altaisky" style="color: blue;">https://www.researchgate.net/profile/M-Altaisky</a>
            <a href="http://www.pdmi.ras.ru/~dd/download/list_dd18.pdf" style="color: blue;">http://www.pdmi.ras.ru/~dd/download/list_dd18.pdf</a>
            </p>

            <b>Anoop Agrawal</b>
            <br><p> Sr. Consultant Cardiologist (Interventional), CARE Hospitals, Road No.1, Banjara Hills, Hyderabad - 500039, India
            <br> Phone No: +91 6281487406<br>
            E-Mail: anoop@researchfoundation.in <br />
            <a href="https://www.carehospitals.com/doctors/dr-anoop-agrawal/" style="color: blue;">https://www.carehospitals.com/doctors/dr-anoop-agrawal/</a>
            </p>

            <b>T. Ravindra Babu</b><br>
            <p> Head, Department of Data Science, Sahaj Software Solutions, 365, 3rd Floor,Sulochana Building,Koramangala,Banglore-560034,India<br>Phone No: 9739907725<br>
            E-Mail: ravindrab@sahaj.ai<br />
            <a href="https://sahaj.ai/people/" style="color: blue;">https://sahaj.ai/people/</a>
            </p>

            <b> M.A.S. Srinivas</b><br>
            <p> Professor and Head, Department of Mathematics, Jawaharlal Nehru Technological University,
            Hyderabad – 500035, India<br>Phone No: 9814033941<br> E-Mail: massrinivas@jntuh.ac.in<br/>
            <a href="https://jntuhceh.ac.in/faculty_details/8/dept/411" style="color: blue;">https://jntuhceh.ac.in/faculty_details/8/dept/411</a>
            </p> -->
    </div>
  </div>
</div>
