<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <h3 align="center" class="author-menu"><b>Author Main Menu</b></h3>
        </div>
        <div class="col-md-8">
            <div class="new-submission">
                <mat-card>
                    <h3>New Submissions</h3>
                    <mat-card-content >
                        <a class="submit-options" routerLink="newsubmission">Submit New Manuscript</a><br><br>
                        <a class="submit-options"  routerLink=""><span matBadge="0" matBadgeOverlap="false">Submissions Sent Back to
                                Author</span></a><br><br>
                        <a class="submit-options"  routerLink=""><span matBadge="0" matBadgeOverlap="false">Incomplete
                                Submissions</span></a><br><br>
                        <a class="submit-options"  routerLink=""><span matBadge="0" matBadgeOverlap="false">Submissions Waiting for
                                Author's Approval</span></a><br><br>
                        <a class="submit-options"  routerLink=""><span matBadge="0" matBadgeOverlap="false">Submissions Being
                                Processed</span></a><br><br>
                    </mat-card-content>
                </mat-card>
            </div>
            <br>
            <br>
            <div class="revisions">
                <mat-card>
                    <h3>Revisions</h3>
                    <mat-card-content>
                        <a class="revision-options"  routerLink=""><span matBadge="0" matBadgeOverlap="false">Submissions Needing Revision</span></a><br><br>
                        <a class="revision-options"  routerLink=""><span matBadge="0" matBadgeOverlap="false">Revisions Sent Back to
                                Author</span></a><br><br>
                        <a class="revision-options"  routerLink=""><span matBadge="0" matBadgeOverlap="false">Incomplete
                                Submissions Being Revised</span></a><br><br>
                        <a class="revision-options"><span matBadge="0" matBadgeOverlap="false">Revisions Waiting for
                                Author's Approval</span></a><br><br>
                        <a class="revision-options"><span matBadge="0" matBadgeOverlap="false">Revisions Being
                                Processed</span></a><br><br>
                                <a class="revision-options"><span matBadge="0" matBadgeOverlap="false">Declined Revisions</span></a><br><br>
                    </mat-card-content>
                </mat-card>
            </div>
            <br>
            <br>
            <div class="completed">
                <mat-card>
                    <h3>Completed</h3>
                    <mat-card-content >
                        <a class="completed-options"><span matBadge="0" matBadgeOverlap="false">Submissions with a Decision</span></a><br><br>
                    </mat-card-content>
                </mat-card>
            </div>

        </div>
        <div class="col-md-2">

        </div>

    </div>
</div>
<br>
<br>