<div class="container">
    <br>
    <div class="row">
        <div class="col-md-3">
            <h3><b>Pre Registration Page</b></h3>
            <p class="content">To register to use the Editorial Manager system, please enter the requested information. Required fields have a * next to the label. Upon successful registration, you will be sent an e-mail with instructions to verify your registration.
            </p>
        </div>
        <div class="col-md-9" style="border-left: #cccccc 1px dotted;">

            <h3>Choose a Registration Method</h3>
            <ul>
                <li>
                    <h4>Retrieve your details from the ORCID registry:</h4>
                    <button class="mat-stroked-button"> <span class="badge badge-pill badge-success"> iD</span> Use My ORCID Record</button>
                </li>
                <li>
                    <h4>Or type in your details and continue to register without using ORCID:</h4>
                    <div class="row">
                        <div class="col-2">
        
                        </div>
                        <div class="col-8">
                            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                                <div class="form-group">
                                  <label for="username">First Name</label>
                                  
                                  <input type="text" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" formControlName="firstname" class="form-control" required >
                                   
                                  <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                                    <div *ngIf="f.firstname.errors.required">firstname is required</div>
                                  </div>
                                </div>
                                <div class="form-group">
                                    <label for="username">Last Name</label>
                                    <input type="text" [ngClass]="{ 'is-invalid': submitted && f.lastname.errors }" formControlName="lastname" class="form-control" required>
                                    <div *ngIf="submitted && f.lastname.errors" class="invalid-feedback">
                                      <div *ngIf="f.lastname.errors.required">lastname is required</div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="username">E-mail Address</label>
                                    <input type="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" formControlName="email" class="form-control" required>
                                    
                                        <div *ngIf="f.email.errors?.required" class="invalid-feedback">
                                            Email is required.
                                        </div> 
                                   	
                                        <div *ngIf="f.email.errors?.pattern" class="invalid-feedback">
                                            Email not valid.
                                        </div> 
                                </div>
                                <button mat-raised-button color="primary" type="submit" class=" btn btn-group btn-group-sm mx-2" >Continue>></button>
                            </form>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
