<br><br><br>
<div class="row col-md-12 col-lg-12">
    <div class="col-md-2 col-lg-2 col-sm-12 "><br><br>
        <h1 class="d-flex justify-content-center">Update Password</h1>
        <br>
    </div>

    <div class="vl col-sm-0"></div>

    <div class="col-md-9 col-lg-9 col-sm-12">

        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

            <div class="form-group row">
                <label for="password" class="col-sm-3 col-form-label">Password<span style="color: red; font-size: large;"> *</span></label>
                <div class="col-sm-9">
                    <input type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required class="form-control" formControlName="password">
                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf=" f.password.errors?.required">Password is required</div>
                        <div *ngIf="f.password.errors?.pattern">Password should contain atleast one uppercase,lowercase,special and a number
                        </div>
                    </div>
                </div>

            </div>
            <div class="form-group row">
                <label for="conformPassword" class="col-sm-3 col-form-label">Re-type Password<span style="color: red; font-size: large;"> *</span></label>
                <div class="col-sm-9">
                    <input type="password" [ngClass]="{ 'is-invalid':f.conformPassword.touched && f.conformPassword.errors }" confirmEqualValidator="password" required class="form-control" formControlName="conformPassword">
                    <div *ngIf="f.conformPassword.touched && f.conformPassword.errors" class="invalid-feedback">
                        <div *ngIf="submitted && f.conformPassword.errors?.required">confirm Password is Required</div>
                        <div *ngIf=" f.conformPassword.errors?.notEqual && !f.conformPassword.errors?.required">
                            Password and Confirm Paswword doesn't match
                        </div>
                    </div>
                </div>

            </div>
            <br>
            <div class="form-group d-flex align-items-center">
                <button class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
</div>
<br>
<br>
<br>