/* Custom CSS for Article Submission Page */

.container {
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  padding: 15px;
  /* Add some padding inside the container */
  width: 100%;
  /* Make sure it takes up to 100% of the flex container */
  margin: auto;
  /* Additional centering for older browsers */
}


h2 {
  color: #0056b3;
  /* Bootstrap primary color */
}

.form-label {
  font-weight: bold;
}

.btn-primary {
  background-color: #0056b3;
  border: none;
}

.btn-primary:hover {
  background-color: #004494;
}