<div class="container"> <br><br>
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 description mt-2 ">
            <span id="title">Article Submission:</span> <br><br>
            Submit pdf file of the manuscript with a covering letter to the following address:
            jisst@researchfoundation.in <br><br> <br><br>
            <!-- </p> -->
            <p >Please download the copyright transfer statement and turn in the duly signed statement along with your submission. </p><br>

            <a href="https://res.cloudinary.com/jisst/image/upload/v1641743002/Copyright_Transfer_Statement_eodiqp.pdf" class="btn btn-primary">Download</a><br><br>

        </div>


    </div>
</div>