<div class="container m-5">
    <h2>Article Submission Form</h2>
    <!-- My Submissions Button -->
    <span class="mb-3">
        Already submitted? Go to <a routerLink="/my-submissions">Submissions</a>

    </span>
    <!-- JISST Commitment Statement -->
    <div class="alert alert-info mt-3">
        JISST is committed to maintaining the highest integrity level in the published content and has
        a Conflict of Interest Policy in place. JISST subscribes to the principles provided by the
        <a href="https://publicationethics.org/">Committee on Publications and Ethics (COPE)</a>.
    </div>

    <form (ngSubmit)="onSubmit($event)">
        <!-- Article Title -->
        <div class="mb-3">
            <label for="articleTitle" class="form-label">Article Title</label>
            <input type="text" class="form-control" id="articleTitle" placeholder="Enter the title of your article"
                required>
        </div>

        <div class="mb-3">
            <label for="submissionFor" class="form-label">Submission For</label>
            <select class="form-control" id="submissionFor">
                <option value="JISST">JISST</option>
                <option value="SI: Dynamical Systems">SI: Dynamical Systems</option>
                <option value="SI: Financial Engineering">SI: Financial Engineering</option>
                <option value="SI: Fluid Mechanics">SI: Fluid Mechanics</option>
                <option value="SI: Neural Networks">SI: Neural Networks</option>
                <option value="SI: Neural Networks">SI: Innovative Machine Learning Applications</option>
                <option value="SI: Neural Networks">SI: Fractional Calculus</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="articleType" class="form-label">Article Type</label>
            <select class="form-control" id="articleType">
                <option value="Research Article">Original Research</option>
                <option value="Survey/Overview/Review/Tutorial Article">Survey/Overview/Review/Tutorial Article</option>
                <option value="Forum Paper">Forum Paper</option>
                <option value="Pedagogues">Pedagogues</option>
                <option value="Science News and Notes">Science News and Notes</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="articleStream" class="form-label">Article Stream</label>
            <select class="form-control" id="articleStream">
                <option value="Computer Science, Information Technology, Robotics">Computer Science, Information Technology, Robotics</option>
                <option value="Mathematics, Modeling, Simulations">Mathematics, Modeling, Simulations</option>
                <option value="Life Sciences, Bio Informatics, Bio Technology">Life Sciences, Bio Informatics, Bio Technology</option>
                <option value="Pedagogies and Techniques">Pedagogies and Techniques</option>
            </select>
        </div>

        <!-- Corresponsing Author -->
        <div class="mb-3">
            <label for="correspondingAuthorName" class="form-label">Corresponding Author Name</label>
            <input type="text" class="form-control" id="correspondingAuthorName" placeholder="Corresponding Author Name"
                required>
        </div>


        <!-- Authors -->
        <div class="mb-3">
            <label for="articleAuthors" class="form-label">Other Author(s) Name(s)</label>
            <input type="text" class="form-control" id="articleAuthors" placeholder="Author names separated by commas"
                required>
        </div>

        <div class="mb-3">
            <label for="articleAuthorEmails" class="form-label">Other Author(s) Email(s)</label>
            <input type="text" class="form-control" id="articleAuthorEmails"
                placeholder="Author Email Ids separated by commas" required>
        </div>

        <!-- Abstract -->
        <div class="mb-3">
            <label for="articleAbstract" class="form-label">Abstract</label>
            <textarea class="form-control" id="articleAbstract" rows="3"
                placeholder="Enter the abstract of your article" required></textarea>
        </div>

        <!-- Keywords -->
        <div class="mb-3">
            <label for="articleKeywords" class="form-label">Keywords</label>
            <input type="text" class="form-control" id="articleKeywords"
                placeholder="Enter keywords separated by commas" required>
        </div>

        <!-- File Upload -->
        <div class="mb-3">
            <label for="articleFile" class="form-label">Upload Article</label>
            <input class="form-control" type="file" id="articleFile" required>
        </div>
        <!-- Certification Statement -->
        <div>
            <strong>
                The authors certify that the work embodied in this article is original and unpublished. It is not under
                consideration for publication in any other journal or accepted for publication elsewhere.
            </strong>
        </div>
        <div class="mt-1">
            <input type="radio" id="agree" name="certify" value="agree" (change)="onCertifyChange($event)">
            <label for="agree">Agree</label>
            &nbsp;
            <input type="radio" id="disagree" name="certify"  value="disagree" (change)="onCertifyChange($event)">
            <label for="disagree">Disagree</label>
        </div>
        <!-- Submission Button -->
        <button type="submit" [disabled]="!certified" class="btn btn-primary">Submit Article</button>
    </form>
    <div *ngIf="showLoginError" class="alert alert-danger" role="alert">
        You must be logged in to submit an article. Please log in and try again.
    </div>
    <div *ngIf="showSuccess" class="alert alert-success" role="alert">
        Manuscript Successfully submitted!
    </div>
    <div *ngIf="showError" class="alert alert-danger" role="alert">
        There was an error submitting your manuscript. Please try again.
    </div>
</div>