<br>
<div class="container">
    <div class="row">

        <div class="col-lg-3 col-md-3 col-sm-12" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>

        <div class="col-lg-9 col-md-9 col-sm-12 description mt-2 ">
            <p id="sub" style="text-align: center;">Subscription Form - JISST</p> <br><br>

            <p style="text-align: justify; font-size: 16px; line-height:1.5vw;">You can download the Subscription Form by clicking on the given link below. You will require to print the form. Please fill the form completely and send a scanned copy to <span style="color: blue;">jisst@researchfoundation.in</span>, together
                with the proof of payment.
            </p>
            <br>


            <div class="row">
                <div class="ml-5 mt-3 ">
                    <i class="fa fa-rupee-sign mt-4" style="font-size: 80px; "></i>
                </div>


                <div class="mx-5">
                    <table class="table">
                        <thead class="bg-primary">
                            <tr>
                                <th scope="col">Membership</th>
                                <th scope="col">One Year (4 Issues)</th>

                            </tr>
                        </thead>
                        <tbody>
<!--                             <tr>
                                <th scope="row">Individual</th>
                                <!-- <td></td> -->

<!--                                 <td>INR &nbsp; 5000/-</td>
                            </tr> --> 
                            <tr>
<!--                                 <th scope="row">Institutional / Industry</th> -->
                                <th scope="row">Individual / Institutional / Industry</th>
                                <!-- <td>Institutional / Industry</td> -->
                                <td>INR &nbsp; 10000/-</td>
                            </tr>

                        </tbody>
                    </table>

                </div>

            </div>
            <br><br>

            <div class="row  mx-5">
                <div class="mx-5 my-3 ">
                    <i class="fa fa-file-download" style="font-size: 50px; "></i>
                </div>


                <div class="ml-5 mt-4">
                    <p style="display: inline; font-size: 140%;">Please click here <a href="https://res.cloudinary.com/jisst/image/upload/v1727871120/Order-Form-JISST-Updated--02-10-24.pdf-New_zzojlz.pdf" target="_blank" download style="color: blue;">to download Order Form</a></p>


                </div>
            </div>

            <br><br><br><br> <br>



            <div class="row">
                <div class="ml-5 mt-3 ">
                    <i class="fa fa-dollar-sign mt-4" style="font-size: 80px; "></i>

                </div>


                <div class="mx-5">
                    <table class="table">
                        <thead class="bg-primary">
                            <tr>
                                <th scope="col">Membership</th>
                                <th scope="col">One Year (4 Issues)</th>

                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Individual / Institutional / Industry</th>
                                <!-- <td>Institutional / Industry</td> -->
                                <td> US $ 150</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <br><br>

            <div class="row  mx-5">
                <div class="mx-5 my-3 ">
                    <i class="fa fa-file-download" style="font-size: 50px; "></i>
                </div>


                <div class="mx-5 mt-4">
                    <p style="display: inline; font-size: 140%;">Please click here <a href="https://res.cloudinary.com/jisst/image/upload/v1727871234/Order-Form-JISST-Foreign-Authors-Updated-02-10-24.pdf-new_evdguz.pdf" target="_blank" download style="color: blue;">to download Order Form</a></p>


                </div>

            </div>

            <div class="row">
                <div class="ml-5 mt-3">
                    <p style="display: inline; font-size: 100%;"> <u>NOTE:</u> Following World Bank&#39;s classification special tariffs are available for lower middle income countries and also for developing countries. For all subscription enquiries please write to: <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Subscription Department
                        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Journal of Innovation Sciences and Sustainable Technologies<br><span style="color: blue;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; E-mail: jisst@researchfoundation.in</span></p>

                </div>

            </div>




            <br><br><br><br>



        </div>
    </div>
</div>
