<div class="container pt-5 ">
    <div class="row">
        <div class="col-lg-3" style="display: flex;justify-content: center;">
            <app-sidenav></app-sidenav>
        </div>
        <div class="col-lg-9">
            <div class="jumbotron">
                <h1 class="display-3">Abstracting and Indexing</h1>
                <hr class="my-4">

                <div style="text-align: center;"><b>Abstracted and indexed in: </b> <a href="https://zenodo.org/" style="font-weight: bold; color: blue;">Zenodo</a></div>

                <br>
                <div>The Journal of Innovation Sciences and Sustainable Technologies is an international peer-reviewed and refereed online journal focusing on the modeling, measurement, and management of innovation and sustainability and promoting greater
                    understanding in the multidisciplinary areas of societal concerns. This journal will publish four issues in January, April, July, and October of each year. The publication language is English.</div>
                <br>


                <div>
                    This Journal is suitable for academia, innovators, field scientists, technical teams and research groups in the industry, undergraduate and graduate students, product developers, and multidisciplinary researchers. This helps showcase creativity, as expositions
                    from some of the above category innovators are not usually encouraged in traditional research journals.
                </div>
                <br>
                <div>The publication mode is HYBRID, enabling the publication of both subscription-based and open-access articles. All articles will be registered for Digital Online Finder (DOI) and abstracts are indexed with <span> <a href="https://zenodo.org/"> www.zenodo.org</a></span>.</div>
                <br>
                <div>A sample screenshot of the indexing format is shown below:</div>
                <br>
                <img src="https://res.cloudinary.com/jisst/image/upload/v1663513840/Miscallaneous/Zenodo_zbx8vp.png" alt="" width="700px" height="600px">

            </div>
        </div>
    </div>
</div>